@charset "UTF-8";
/* CSS Document */
/* row which contains charts */
.chart-row {
	display:flex;
	position:relative;
	flex-direction:row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: flex-start;
	/*width: calc(100% - 460px);*/
	padding: 0;
}
.chart-container {
	display:flex;
	flex-direction: column;
	width:99.99%;
	margin:0 0 10px 0;
}
@media only screen and (min-width: 768px) {
	.chart-container {
		width:calc(49.99% - 20px);
		margin:0 10px 20px 10px;
	}
}
@media only screen and (min-width: 1280px) {
	.chart-container {
		width:calc(33.33% - 30px);
		margin:0 15px 30px 15px;
	}
}
/* chart styling */
/* account overview chart */
.ao-chart-box {
	display:block;
	position:relative;
	margin:0 15px 30px 15px;
}
.ao-chart-body {
	display:flex;
	flex-direction:row;
	align-items:stretch;
	justify-content: space-between;
	border-radius:0 0 20px 20px;
}
.ao-chart-bg {
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	align-items:stretch;
	justify-content:space-between;
	background-color: #00333B;
	padding:10px;
	width:50%;
	border-radius:0 0 0 20px;
}
.ao-rank-bg {
	display:flex;
	flex-direction:row;
	align-items:stretch;
	justify-content:space-between;
	background-color: #00272E;
	padding:10px;
	width:50%;
	border-radius:0 0 20px 0;
}
@media only screen and (max-width: 1023px) {
	.ao-chart-box {
		margin:0 10px 20px 10px;
	}
}
@media only screen and (max-width: 580px) {
	.ao-chart-box {
		margin:0 0px 10px 0px;
	}
	.ao-chart-body {
		flex-direction:column;
	}
	.ao-chart-bg {
		width:calc(100% - 20px);
		border-radius:0 0 0 0;
	}
	.ao-rank-bg {
		width:calc(100% - 20px);
		border-radius:0 0 20px 20px;
	}
}
/* general chart styling */
.chart-header-dark, .chart-header-light {
	display:flex;
	position:relative;
	height:30px;
	padding:10px;
	font-size: 14px;
	line-height: 1em;
	font-weight: 700;
	border-radius: 20px 20px 0 0;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}
.chart-header-dark {
	background-color: #000000;
	color: #FFFFFF;
}
.chart-header-light {
	background-color: #FFFFFF;
	color: #000000;
}
.chart-bg-dark, .chart-bg-light {
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	padding:10px;
	border-radius:0 0 20px 20px;
	height:100%;
	min-height:350px;
}
@media only screen and (max-width: 480px) {
	.chart-bg-dark, .chart-bg-light {
		min-height:calc(100vw - 90px);
	}
}
.chart-bg-dark {
	background-color: #00333B;
}
.chart-bg-light {
	background-color: #EEE4D2;
}
/* solid bars */
.bar-green {
	border:1px solid #56A07E;
	background: #56A07E;
}
.bar-green:hover {
	border:1px solid #009245;
	background: #009245;
}
.bar-red {
	border:1px solid #C15357;
	background: #C15357;
}
.bar-red:hover {
	border:1px solid #C1272D;
	background: #C1272D;
}
/* strip bars */
/* dark */
.bar-grey-strip-dark {
	border:1px solid #CCCCCC;
	background: repeating-linear-gradient(-45deg,#CCCCCC,#CCCCCC 1.5px,#00333B 1.5px,#00333B 4px);
}
.bar-grey-strip-dark:hover {
	border:1px solid #999999;
	background: repeating-linear-gradient(-45deg,#999999,#999999 1.5px,#00333B 1.5px,#00333B 4px);
}
.bar-green-strip-dark {
	border:1px solid #56A07E;
	background: repeating-linear-gradient(-45deg,#56A07E,#56A07E 1.5px,#00333B 1.5px,#00333B 4px);
}
.bar-green-strip-dark:hover {
	border:1px solid #009245;
	background: repeating-linear-gradient(-45deg,#009245,#009245 1.5px,#00333B 1.5px,#00333B 4px);
}
.bar-red-strip-dark {
	border:1px solid #C15357;
	background: repeating-linear-gradient(-45deg,#C15357,#C15357 1.5px,#00333B 1.5px,#00333B 4px);
}
.bar-red-strip-dark:hover {
	border:1px solid #C1272D;
	background: repeating-linear-gradient(-45deg,#C1272D,#C1272D 1.5px,#00333B 1.5px,#00333B 4px);
}
/* light */
.bar-grey-strip-light {
	border:1px solid #CCCCCC;
	background: repeating-linear-gradient(-45deg,#CCCCCC,#CCCCCC 1.5px,#EEE4D2 1.5px,#EEE4D2 4px);
}
.bar-grey-strip-light:hover {
	border:1px solid #999999;
	background: repeating-linear-gradient(-45deg,#999999,#999999 1.5px,#EEE4D2 1.5px,#EEE4D2 4px);
}
.bar-green-strip-light {
	border:1px solid #56A07E;
	background: repeating-linear-gradient(-45deg,#56A07E,#56A07E 1.5px,#EEE4D2 1.5px,#EEE4D2 4px);
}
.bar-green-strip-light:hover {
	border:1px solid #009245;
	background: repeating-linear-gradient(-45deg,#009245,#009245 1.5px,#EEE4D2 1.5px,#EEE4D2 4px);
}
.bar-red-strip-light {
	border:1px solid #C15357;
	background: repeating-linear-gradient(-45deg,#C15357,#C15357 1.5px,#EEE4D2 1.5px,#EEE4D2 4px);
}
.bar-red-strip-light:hover {
	border:1px solid #C1272D;
	background: repeating-linear-gradient(-45deg,#C1272D,#C1272D 1.5px,#EEE4D2 1.5px,#EEE4D2 4px);
}
/* common for dark and light */
.bar-grey-strip-dark, 
.bar-green-strip-dark, 
.bar-red-strip-dark,
.bar-grey-strip-light, 
.bar-green-strip-light, 
.bar-red-strip-light,  
.bar-green, 
.bar-red {
	display:inline-block;
	margin:0 11px 0 11px; /* width of the left right margins = 50% width of the bar */
	width:20px; /* width of the bar varies depending on the width of the chart */
	height:100px; /* just for example height will vary */
	border-bottom:none;
	border-radius:4px 4px 0 0;
	transition: all 0.3s ease;
}
.bar-grey-strip-dark:hover, 
.bar-green-strip-dark:hover, 
.bar-red-strip-dark:hover,
.bar-grey-strip-light:hover, 
.bar-green-strip-light:hover, 
.bar-red-strip-light:hover, 
.bar-green:hover, 
.bar-red:hover {
	border-bottom:none;
	box-shadow: 3px 0 3px rgb(0 0 0 / 0.5);
	cursor:crosshair;
}
.bar-flip-v {
	transform: rotate(180deg);
}
.bar-flip-v:hover {
	box-shadow: -3px 0 3px rgb(0 0 0 / 0.5) !important;
}
/* info outside chart area */
.chart-info-group {
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items:flex-start;
	justify-content:space-between;
}
/* chart top buttons */
div.pill-box {
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content:flex-start;
}
a.pill-left {
	border-radius:6px 0 0 6px;
}
a.pill-right {
	border-radius:0 6px 6px 0;
}
a.pill-left, a.pill-right {
	font-size: 14px;
	/*min-width:20px;*/
	line-height: 20px;
	font-weight: 700;
	color:#FFFFFF;
	height:24px;
	padding:0 5px;
	text-align: center;
	text-decoration: none;
}
.pill-off {
	background-color: #999999;
	transition: all 0.3s ease;
}
.pill-off:hover {
	background-color: #06AFC9;
}
.pill-on {
	background-color: #047F92;
}
a.btn-duration {
	display: inline-block;
	width:30px;
	height:24px;
	background-color: #999999;
	color:#FFFFFF;
	font-weight: 700;
	font-size:14px;
	line-height: 20px;
	text-align:center;
	border-radius:6px;
	margin-left:5px;
	text-decoration: none;
	transition: all 0.3s ease;
}
a.btn-duration:hover {
	background-color: #06AFC9;
}
a.duration-on {
	background-color: #047F92;
}
div.right-btn-box {
	display:flex;
	flex-direction:row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content:flex-end;
}
/* chart bottom info */
.chart-bottom-info-dark, .chart-bottom-info-light {
	display: inline-block;
	font-size:12px;
	line-height:1.25em;
	margin-right:10px;
}
.chart-bottom-info-dark {
	color:#FFFFFF;
}
.chart-bottom-info-light {
	color:#000000;
}
.chart-bottom-info-right {
	text-align:right;
	margin-left:10px;
	margin-right:0 !important;
}
.chart-bottom-info-title {
	font-size:10px;
	color:#06AFC9;
}
.num-box {
	display:inline-block;
	padding:2px 4px;
	border-radius:4px;
	font-size:10px;
	color:#FFFFFF !important;
}
/* top 5 chart */
.top-five-chart-box {
	display:block;
	margin: 0 15px 30px;
}
.top-5-header {
	display:block;
	position:relative;
	background-color:#C0D2D4;
	color:#033C45;
	font-size: 14px;
	font-weight:bold;
	height:50px;
	line-height: 50px;
	padding:0 10px;
	border-radius:20px 20px 0 0;
}
.top-5-body {
	display:block;
	padding:10px 30px 60px;
	height:100px;
	background-color: #B8C8CA;
	border-radius:0 0 20px 20px;
}
@media only screen and (max-width: 1023px) {
	.top-5-body {
		padding:10px 10px 60px;
	}
}
@media only screen and (max-width: 580px) {
	.top-five-chart-box {
		margin: 0 0px 10px;
	}
	.top-5-body {
		padding:10px;
		height: auto;
	}
}
ul.top-5-bar {
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	align-items: flex-end;
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.top-5-bar li.top-5-profit, ul.top-5-bar li.top-5-loss {
	display:inline-block;
	position: relative;
	border-radius:10px 10px 0 0;
	cursor:pointer;
	transition: all 0.3s ease;
}
@media only screen and (max-width: 580px) {
	ul.top-5-bar {
		flex-direction:column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: flex-start;
	}
	ul.top-5-bar li.top-5-profit, ul.top-5-bar li.top-5-loss {
		display:block;
		border-radius: 0 3px 3px 0;
		margin:25px 0 0 0;
	}
}
ul.top-5-bar li.top-5-profit {
	background-color:#56A07E;
}
ul.top-5-bar li.top-5-loss {
	background-color:#C15357;
}
ul.top-5-bar li.top-5-profit:hover {
	background-color:#009245;
	box-shadow: 3px 3px 3px rgb(0 0 0 / 0.5);
}
ul.top-5-bar li.top-5-loss:hover {
	background-color:#ED1C24;
	box-shadow: -3px 3px 3px rgb(0 0 0 / 0.5);
}
@media only screen and (max-width: 580px) {
	ul.top-5-bar li.top-5-profit:hover {
		box-shadow: none;
	}
	ul.top-5-bar li.top-5-loss:hover {
		box-shadow: none;
	}
}
.top-5-title-profit, .top-5-title-loss {
	display:flex;
	position:absolute;
	width:calc(100% - 10px);
	left:5px;
	height:40px;
	font-size:12px;
	line-height:1em;
}
.top-5-title-profit {
	text-align: left;
}
.top-5-title-loss {
	text-align: right;
}
.top-5-title-profit.top-half, .top-5-title-loss.top-half {
	color:#FFFFFF;
	top:5px;
}
.top-5-title-profit.bottom-half, .top-5-title-loss.bottom-half {
	color:#00333B;
	top:-45px;
	align-items: flex-end;
}
@media only screen and (max-width: 580px) {
	.top-5-title-profit, .top-5-title-loss {
		width:auto;
		left:0px;
		height:auto;
		white-space: nowrap;
	}
	.top-5-title-loss {
		text-align: left;
	}
	.top-5-title-profit.top-half, .top-5-title-loss.top-half {
		color:#00333B;
		top:auto;
		bottom:15px;
	}
	.top-5-title-profit.bottom-half, .top-5-title-loss.bottom-half {
		color:#00333B;
		top:auto;
		bottom:15px;
		align-items: flex-start;
	}
}
ul.top-5-bar ul.profit-details, ul.top-5-bar ul.loss-details {
	position:absolute;
	display:block;
	height:50px;
	padding:0;
	margin: 0;
	visibility:hidden;
	opacity:0;
	transition: opacity 0.3s ease;
	z-index:700;
}
ul.top-5-bar ul.profit-details {
	left:0px;
	bottom:-50px;
}
ul.top-5-bar ul.loss-details {
	right:0px;
	bottom:-50px;
}
@media only screen and (max-width: 580px) {
	ul.top-5-bar ul.profit-details, ul.top-5-bar ul.loss-details {
		height:auto;
	}
	ul.top-5-bar ul.profit-details {
		left:0px;
		bottom:auto;
		top:0px;
	}
	ul.top-5-bar ul.loss-details {
		right:auto;
		left:0px;
		bottom:auto;
		top:0px;
	}
}
ul.top-5-bar ul.profit-details li, ul.top-5-bar ul.loss-details li {
	display:block;
	padding:10px;
	font-size: 12px;
	line-height: 1em;
	white-space: nowrap;
	color:#FFFFFF;
}
ul.top-5-bar ul.profit-details li {
	text-align: left;
	background-color: #009245;
	border-radius:0 10px 10px 10px;
	box-shadow: 3px 3px 3px rgb(0 0 0 / 0.5);
}
ul.top-5-bar ul.loss-details li {
	text-align: right;
	background-color: #ED1C24;
	border-radius: 10px 0 10px 10px;
	box-shadow: -3px 3px 3px rgb(0 0 0 / 0.5);
}
@media only screen and (max-width: 580px) {
	ul.top-5-bar ul.profit-details li, ul.top-5-bar ul.loss-details li {
		padding:5px;
		width: calc(100vw - 50px);
	}
	ul.top-5-bar ul.profit-details li {
		border-radius:0 0 6px 6px;
	}
	ul.top-5-bar ul.loss-details li {
		text-align: left;
		border-radius:0 0 6px 6px;
		box-shadow: 3px 3px 3px rgb(0 0 0 / 0.5);
	}
}
ul.top-5-bar li:hover > ul{
	visibility:visible;
	opacity:1;
}
.top-1-p-value {
	height:100px;
	width:8%;
}
.top-2-p-value {
	height:51px;
	width:8%;
}
.top-3-p-value {
	height:25px;
	width:8%;
}
.top-4-p-value {
	height:15px;
	width:8%;
}
.top-5-p-value {
	height:8px;
	width:8%;
}
.top-1-l-value {
	height:90px;
	width:8%;
}
.top-2-l-value {
	height:77px;
	width:8%;
}
.top-3-l-value {
	height:52px;
	width:8%;
}
.top-4-l-value {
	height:30px;
	width:8%;
}
.top-5-l-value {
	height:10px;
	width:8%;
}
@media only screen and (max-width: 580px) {
	.top-1-p-value {
		height:10px;
		width:100%;
	}
	.top-2-p-value {
		height:10px;
		width:51%;
	}
	.top-3-p-value {
		height:10px;
		width:25%;
	}
	.top-4-p-value {
		height:10px;
		width:15%;
	}
	.top-5-p-value {
		height:10px;
		width:8%;
	}
	.top-1-l-value {
		height:10px;
		width:90%;
	}
	.top-2-l-value {
		height:10px;
		width:77%;
	}
	.top-3-l-value {
		height:10px;
		width:52%;
	}
	.top-4-l-value {
		height:10px;
		width:30%;
	}
	.top-5-l-value {
		height:10px;
		width:10%;
	}
}
/* donut chart */
.rank-box {
	display:flex;
	position: relative;
	flex-direction:column;
	align-items: stretch;
	justify-content: space-between;
	padding:0 10px;
	width:calc(50% - 20px);
}
.insignificant-box {
	display:block;
	position: absolute;
	width:80px;
	color:#999999;
	font-size:12px;
	text-align: center;
	right:-40px;
	top:20px;
}
.donut-chart {
	position: relative;
	width: 80px;
	height: 80px;
	margin: 0 auto 10px;
	border-radius: 100%
}
p.center {
	background: #00272E;
	position: absolute;
	text-align: center;
	font-size:48px;
	top:0;
	left:0;
	bottom:0;
	right:0;
	width: 64px;
	height: 64px;
	margin: auto;
	border-radius: 50%;
	line-height: 64px;
	padding: 0;
}
.portion-block {
    border-radius: 50%;
    clip: rect(0px, 80px, 80px, 40px);
    height: 100%;
    position: absolute;
    width: 100%;
}
.circle {
    border-radius: 50%;
    clip: rect(0px, 40px, 80px, 0px);
    height: 100%;
    position: absolute;
    width: 100%;
    font-family: monospace;
    font-size: 1.5rem;
}	
#part1p {
    transform: rotate(0deg);
  }
#part1p .circle {
	background-color: #56A07E;
	/*transform: rotate(76deg);*/
	animation: firstp 0.3s 1 forwards;
}	
#part2p {
    transform: rotate(180deg);
 }
#part2p .circle {
	background-color: #443035;
    animation: secondp 0.3s 1 forwards 0.15s;
 }
#part3p {
    transform: rotate(300deg);
}
#part3p .circle {
	background-color: #264349;
	animation: thirdp 0.3s 1 forwards 0.3s;
}	
/* Animation */
@keyframes firstp {
    from {transform: rotate(0deg);}
    to {transform: rotate(180deg);}
}	
@keyframes secondp {
    from {transform: rotate(0deg);}
    to {transform: rotate(120deg);}
}	
@keyframes thirdp {
    from {transform: rotate(0deg);}
    to {transform: rotate(60deg);}
}
#part1l {
    transform: rotate(0deg);
  }
#part1l .circle {
	background-color: #1E4B42;
	/*transform: rotate(76deg);*/
	animation: firstl 0.3s 1 forwards;
}	
#part2l {
    transform: rotate(180deg);
 }
#part2l .circle {
	background-color: #C15457;
    animation: secondl 0.3s 1 forwards 0.15s;
 }
#part3l {
    transform: rotate(300deg);
}
#part3l .circle {
	background-color: #264349;
	animation: thirdl 0.3s 1 forwards 0.3s;
}	
/* Animation */
@keyframes firstl {
    from {transform: rotate(0deg);}
    to {transform: rotate(180deg);}
}	
@keyframes secondl {
    from {transform: rotate(0deg);}
    to {transform: rotate(120deg);}
}	
@keyframes thirdl {
    from {transform: rotate(0deg);}
    to {transform: rotate(60deg);}
}
a.donut-rank-bar-p, a.donut-rank-bar-l {
	display:block;
	postion:relative;
	overflow: hidden;
	height:20px;
	margin:0 0 5px 0;
	padding:0 5px;
	font-size:12px;
	line-height:20px;
	text-decoration: none;
	background-color:#001216;
	border-radius:5px;
	transition: all 0.3s ease;
}
a.donut-rank-bar-p {
	color:#56A07E;
	background-image:url("donut-bg-p.png");
	background-position: left top;
	background-repeat: no-repeat;
}
a.donut-rank-bar-p:hover {
	color:#FFFFFF;
	background-image:url("donut-bg-p-hover.png");
}
a.donut-rank-bar-l {
	color:#C15357;
	background-image:url("donut-bg-l.png");
	background-position: left top;
	background-repeat: no-repeat;
}
a.donut-rank-bar-l:hover {
	color:#FFFFFF;
	background-image:url("donut-bg-l-hover.png");
}