@charset "UTF-8";
/* CSS Document */
html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Noto Sans';
	font-size:14px;
	color:#666666;
	line-height:1.25em;
	margin:0;
	padding:100px 0 0 0;
	background-color:#ffffff;
	overflow-x:hidden;
}
a {
	color:#edc45c;
	text-decoration:underline;
}
a:hover, a:focus {
	color:#06afc9;
}
/* header */
.header {
	display:block;
	width: 100%;
	position: fixed;
	top:0;
	left:0;
	z-index: 1001;
}
.header-container {
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	position: relative;
	margin: 0;
	padding: 15px 20px 0 10px;
	height:85px;
	background-color: #edc45c;
}
.logo {
	display:inline-block;
	padding:0;
	transition:all ease 0.3s;
}
.logo img {
	width:auto;
	height:70px;
}
.img-responsive {
	display:inline-block;
	max-height:auto;
	max-width:100%;
}
ul.menu {
	list-style: none;
	display:flex;
	flex-direction:row;
	justify-content: flex-end;
	margin:0;
	padding:0;
	transition:all ease 0.3s;
}
ul.menu li a {
	display:inline-block;
	margin:0;
	height:65px;
	padding:20px 30px 0 30px;
	border-radius:20px 20px 0 0;
	color:#666666;
	font-size:18px;
	font-weight:bold;
	text-decoration: none;
	background-color:transparent;
	cursor: pointer;
	transition:all ease 0.3s;
}
ul.menu li a:hover {
	color:#047f92;
	background-color: #ffffff;
}
ul.menu li a.active {
	color:#047f92;
	background-color: #ffffff;
	box-shadow: 5px -3px 5px rgba(0, 0, 0, 0.3);
}
ul.menu li a.engine {
	display:inline-block;
	margin:0;
	height:65px;
	padding:20px 30px 0 30px;
	background-color:#047f92;
	border-radius:20px 20px 0 0;
	color:#edc45c;
	font-size:18px;
	line-height:1.25em;
	font-weight:bold;
	text-decoration: none;
	cursor: pointer;
	transition:all ease 0.3s;
}
ul.menu li a.engine:hover {
	background-color:#4d4d4d;
}
ul.menu li a.engine.active {
	background-color: #4d4d4d;
	box-shadow: 5px 3px 5px rgba(77, 77, 77, 0.75);
}
@media only screen and (max-width: 768px) {
	.logo {
		padding:20px 0 0 10px;
	}
	ul.menu li a {
		margin:30px 24px 0 24px;
	}
	ul.menu li a.sandbox {
		margin:20px 10px 0 24px;
	}
}
@media only screen and (max-width: 480px) {
	.logo {
		padding:10px 0 0 10px;
	}
	ul.menu li a {
		margin:20px 24px 0 24px;
	}
	ul.menu li a.sandbox {
		margin:10px 10px 0 24px;
	}
}
h1.result {
	color:#edc45c;
	line-height: 1.25em;
	font-weight:normal;
	font-size:24px;
	margin: 0 10px 0 0;
}
h1 {
	color:#043c45;
	line-height: 1.25em;
	font-weight:bold;
	font-size:32px;
	margin: 0 0 40px 0;
}
h2 {
	color:#043c45;
	font-size:24px;
	font-weight:bold;
	line-height: 1.25em;
	margin: 0 0 20px 0;
}
.bg-footer {
	background-color:#806a31;
}
p.disclaimer {
	display:block;
	font-size:10px;
	line-height: 1.25em;
	color:#edc45c;
	margin:20px 0;
	text-align: left;
	width:100%;
}
/* step indicator */
.step-container {
	display:flex;
	position:relative;
	width:300px;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	margin:0 auto 20px;
}
.step-box {
	display:flex;
	position:relative;
	width:50%;
	height:80px;
}
.stepline {
	display:block;
	position:absolute;
	height:6px;width:150px;
	background-color:#b3b3b3;
	left:0;
	bottom:12px;
}
.stepline.active {
	background-color:#edc45c;
}
.stepdot {
	display:block;
	position:absolute;
	width:12px;
	height:12px;
	border:6px solid #b3b3b3;
	background-color:#4d4d4d;
	border-radius:50%;
	z-index: 1;
}
.stepdot.active {
	border:6px solid #edc45c;
	background-color:#edc45c;
}
.stepdot.step1 {
	left:-12px;
	bottom:3px;
}
.stepdot.step2 {
	left:138px;
	bottom:3px;
}
.stepdot.step3 {
	right:-12px;
	bottom:3px;
}
.steptext {
	position:absolute;
	display:flex;
	font-weight:bold;
	color:#b3b3b3;
	width:120px;
	justify-content: center;
	align-items: flex-end;
}
.steptext.active {
	color:#edc45c;
}
.steptext.step1 {
	left:-60px;
	bottom:30px;
}
.steptext.step2 {
	left:90px;
	bottom:30px;
}
.steptext.step3 {
	right:-60px;
	bottom:30px;
}
p.intro {
	display:block;
	width:40%;
	min-height:40px;
	margin: 20px auto;
	text-align:center;
	color:#b3b3b3;
	font-size:14px;
}
/* the outer most block width 100%, apply background colors to this block */
.module-block {
	display:block;
	position:relative;
	width:100%;
}
.main-container {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	margin: 0 auto;
	padding: 20px 12px;
	max-width: 1024px;
}
.content-block {
	display:block;
	margin:0 20px;
	width:calc(50% - 40px);
}
.multi-input-block {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: space-between;
	align-items: flex-end;
}
.multi-input-l {
	display:inline-block;
	width:calc(33% - 5px);
	margin:0 5px 0 0;
}
.multi-input-m {
	display:inline-block;
	width:calc(33% - 10px);
	margin:0 5px 0 5px;
}
.multi-input-r {
	display:inline-block;
	width:calc(33% - 5px);
	margin:0 0 0 5px;
}
.multi-input-l2 {
	display:inline-block;
	width:calc(49.9% - 5px);
	margin:0 5px 0 0;
}
.multi-input-r2 {
	display:inline-block;
	width:calc(49.9% - 5px);
	margin:0 0 0 5px;
}
/* input fields */
.labels {
	display:block;
	font-weight:bold;
	margin-bottom:5px;
}
input.general {
	display:block;
	height:28px;
	width:calc(100% - 10px);
	position:relative;
	padding:2px 4px 0;
	background-color:#FFFFFF;
	border-radius:6px;
	color:#333333;
	margin-bottom:10px;
	border:1px solid #FFFFFF;
}
.currency-unit-box {
	display:block;
	position:relative;
}
input.currency {
	display:block;
	height:28px;
	width:calc(100% - 144px);
	position:relative;
	padding:2px 52px 0 92px;
	background-color:#FFFFFF;
	border-radius:6px;
	color:#333333;
	margin-bottom:10px;
	border:1px solid #FFFFFF;
}
input.currency2 {
	display:block;
	height:28px;
	width:calc(100% - 56px);
	position:relative;
	padding:2px 52px 0 4px;
	background-color:#FFFFFF;
	border-radius:6px;
	color:#333333;
	margin-bottom:10px;
	border:1px solid #FFFFFF;
}
.currency-label {
	display:flex;
	align-items: center;
	justify-content: center;
	width:80px;
	height:32px;
	font-size:12px;
	line-height: 1em;
	color:#CCCCCC;
	padding:0 4px;
	border-right:1px solid #CCCCCC;
	position:absolute;
	left:0;
	top:0;
}
.currency-unit {
	display:flex;
	align-items: center;
	justify-content: center;
	width:43px;
	height:32px;
	font-size:12px;
	line-height: 1em;
	color:#CCCCCC;
	padding:0 2px;
	border-left:1px solid #CCCCCC;
	position:absolute;
	right:0;
	top:0;
}
.custom-select {
	position: relative;
	display:inline-block;
	height:28px;
	padding:2px 32px 2px 0px;
	background-color:#FFFFFF;
	border:none;
	border-radius:6px;
	color:#333333;
	margin:0 0 20px 0px;
}
.custom-select select {
	display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: transparent;
}
/*style the arrow inside the select element:*/
.select-selected:after {
	position: absolute;
	content: url(dropmenu-open.svg);
	width:32px;
	height:32px;
	top: 0px;
	right: 0px;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
	content: url(dropmenu-close.svg);
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
	color: #333333;
	padding: 4px 10px;
	border: none;
	cursor: pointer;
	user-select: none;
}
/*style items (options):*/
.select-items {
	position: absolute;
	background-color:#FFFFFF;
	top: 100%;
	left: 6px;
	right: 32px;
	z-index: 99;
}
.select-items:nth-child(1) {
	border-radius:6px 6px 0 0;
}
.select-items:last-child {
	border-radius:0 0 6px 6px;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/* checkbox */
.check-box {
	display: block;
	position: relative;
	padding-left: 20px;
	margin-bottom: 10px;
	color:#FFFFFF;
	cursor: pointer;
	font-size: 12px;
	line-height: 1.25em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.check-box-l {
	display: inline-block;
	width:calc(16.6% - 35px);
	position: relative;
	padding-left: 20px;
	margin:0 10px 10px 0;
	color:#FFFFFF;
	cursor: pointer;
	font-size: 14px;
	line-height: 1.25em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* Hide the browser's default checkbox */
.check-box input, .check-box-l input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 2px;
	left: 0;
	height: 12px;
	width: 12px;
	background-color: #999999;
	border-radius:2px;
}
/* On mouse-over, add a background color */
.container:hover input ~ .checkmark {
	background-color: #06AFC9;
}
/* When the checkbox is checked, add a blue background */
.check-box input:checked ~ .checkmark, .check-box-l input:checked ~ .checkmark {
	background-color: #047F92;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
/* Show the checkmark when checked */
.check-box input:checked ~ .checkmark:after, .check-box-l input:checked ~ .checkmark:after {
	display: block;
}
/* Style the checkmark/indicator */
.check-box .checkmark:after, .check-box-l .checkmark:after {
	left: 0px;
	top: 0px;
	width: 12px;
	height: 12px;
	background-image:url("check-white.svg");
	background-position:center;
	background-repeat: no-repeat;
	background-size:12px 12px;
}
.error-msg-box {
	display:block;
	color:#ED1C24;
	font-size:12px;
	margin:0 0 20px 0px;
}

ul.list {
	list-style-image: url("img/triangle-bullet.png");
	margin:0;
	padding:0 0 0 15px;
}
ul.list li {
	margin-bottom:10px;
}
.btn-container {
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	align-items: flex-end;
	margin: 0 auto 40px auto;
	max-width: 984px;
	width:calc(100% - 64px);
}
a.btn-submit {
	display:inline-block;
	font-size:18px;
	line-height:60px;
	font-weight:bold;
	color:#000000;
	text-decoration:none;
	height:60px;
	width:300px;
	text-align: center;
	background-color:#edc45c;
	border-radius:10px;
	transition:all ease 0.3s;
	cursor: pointer;
	margin-bottom:5px;
}
a.btn-submit:hover {
	color:#FFFFFF;
	background-color:#047f92;
}
a.btn-submit.disabled {
	color:#999999;
	background-color:#CCCCCC;
	cursor:default;
}
a.btn-info {
	display:inline-block;
	position:relative;
	font-size:18px;
	line-height:1em;
	width:12px;
	height:12px;
	background-color:#FFFFFF;
	color:#047f92;
	cursor: pointer;
	transition:all ease 0.3s;
	text-decoration:none;
	border-radius:50%;
	vertical-align: middle;
	margin:0 0 0 4px;
}
a.btn-info:hover {
	color:#06afc9;
}
a.btn-info > span {
	position:absolute;
	top:-4px;
	left:-3px;
}
/* exchange loading logo */
.exchange-loading-block {
	display:inline-block;
	margin:20px;
	width:40px;
	height:40px;
	text-align: center;
}
.exchange-logo-block {
	display:inline-block;
	margin:20px;
	width:40px;
	height:40px;
	font-size:40px;
	line-height:40px;
	text-align: center;
	color:#999999;
	border-radius:50%;
	background-color:transparent;
}
.exchange-logo-block.active {
	color:#4d4d4d;
	background-color:#edc45c;
}
/* video box */
.video-box {
	position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.timestamp {
	display:inline-block;
	padding:10px;
	font-size:12px;
	line-height:1.25em;
	border-left:1px solid #edc45c;
	border-top:none;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	border-radius:20px;
}
/* footer */
.footer {
	display:block;
	position:relative;
	background-color: #806a31;
	padding:0 10px;
	color:#edc45c;
	font-size: 12px;
	line-height: 20px;
}
.footer > span.ht-logo {
	font-size:24px;
	vertical-align: middle;
	margin-right: 5px;
}
.footer a {
	color:#edc45c;
	text-decoration: none;
	font-weight:bold;
	transition: all 0.3s ease;
}
.footer a.social {
	color:#edc45c;
	font-size:18px;
	vertical-align: middle;
	text-decoration: none;
	padding:0 10px;
	transition: all 0.3s ease;
}
.footer a:hover, .footer a.social:hover {
	color:#FFFFFF;
}
.footer > span.separator {
	display:inline-block;
	padding:0 10px;
}
.footer p.disclaimer {
	font-size:10px;
	line-height: 1.25em;
	color:#edc45c;
	margin-top:20px;
}
.footer-logo {
	height:40px;
	margin-right: 20px;
	vertical-align: middle;
}
/* infinite logo slide */
@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 5));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 5));
  }
}
.slider {
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
	padding-bottom:60px;
}
/*.slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}*/
.slider .slide-track {
  -webkit-animation: scroll 30s linear infinite;
          animation: scroll 30s linear infinite;
  display: flex;
  width: calc(300px * 10);
}
.slider .slide {
	display:inline-block;
	text-align:center;
	width: 300px;
	margin:0 20px;
	font-weight:bold;
	line-height:20px;
	color:#9e8337;
}
.slider .slide img {
	width:120px;
	height:120px;
	margin-bottom:10px;
}
.slider .slide.forex {
	color:#047f92;
}