@charset "UTF-8";
/* CSS Document */
html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Noto Sans';
	font-size:16px;
	color:#666666;
	line-height:1.25em;
	margin:0;
	padding:0;
	background-color:#f2f2f2;
	overflow-x:hidden;
}
a {
	color:#047F92;
}
a:hover, a:focus {
	color:#ED1C24;
}
/* header */
.header {
	display:block;
	width: 100%;
	position: fixed;
	top:0;
	left:0;
	z-index: 1001;
}
.header-container {
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	position: relative;
	margin: 0 auto;
	padding: 0;
	max-width: 1000px;
}
.logo {
	display:inline-block;
	padding:30px 0 0 10px;
	transition:all ease 0.3s;
}
.logo img {
	width:auto;
	height:40px;
}
.img-responsive {
	display:inline-block;
	max-height:auto;
	max-width:100%;
}
ul.menu {
	list-style: none;
	display:flex;
	flex-direction:row;
	justify-content: flex-end;
	margin: 0;
	padding:0;
	transition:all ease 0.3s;
}
ul.menu li a {
	display:inline-block;
	margin:40px 24px 0 24px;
	color:#FFFFFF;
	font-size:18px;
	font-weight:bold;
	text-decoration: none;
	cursor: pointer;
	transition:all ease 0.3s;
}
ul.menu li a:hover {
	color:#07deff;
}
ul.menu li a.sandbox {
	display:inline-block;
	padding:10px 20px;
	margin:30px 10px 0 24px;
	background-color:#ffb700;
	border-radius:20px;
	color:#000000;
	font-size:18px;
	font-weight:bold;
	text-decoration: none;
	cursor: pointer;
	transition:all ease 0.3s;
}
ul.menu li a.sandbox:hover {
	color:#043c45;
	background-color:#07deff;
}
.header-bg {
	display:block;
	width:100%;
	height:80px;
	position:fixed;
	top:0;
	left:0;
	background-color:#047f92;
	z-index: 999;
}
@media only screen and (max-width: 768px) {
	.logo {
		padding:20px 0 0 10px;
	}
	ul.menu li a {
		margin:30px 24px 0 24px;
	}
	ul.menu li a.sandbox {
		margin:20px 10px 0 24px;
	}
	.header-bg {
		height:70px;
	}
}
@media only screen and (max-width: 480px) {
	.logo {
		padding:10px 0 0 10px;
	}
	ul.menu li a {
		margin:20px 24px 0 24px;
	}
	ul.menu li a.sandbox {
		margin:10px 10px 0 24px;
	}
	.header-bg {
		height:60px;
	}
}
h1 {
	color:#043c45;
	line-height: 1.25em;
	font-weight:normal;
	font-size:32px;
	margin: 0 0 40px 0;
}
h2 {
	font-size:24px;
	font-weight:normal;
	line-height: 1.25em;
	margin: 0 0 20px 0;
}
.bg-red {
	background-color:#f5e9e9;
}
.bg-blue {
	background-color:#dde9eb;
}
.bg-howto {
	background-color:#c1dee3;
}
.bg-sandbox {
	background-color:#ffb700;
}
.bg-grey {
	background-color:#e6e6e6;
}
.bg-footer {
	background-color:#033c45;
}
/* the outer most block width 100%, apply background colors to this block */
.module-block {
	display:block;
	position:relative;
	width:100%;
}
.main-container {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
	margin: 0 auto;
	padding: 80px 0 0 0;
	max-width: 1000px;
}
.content-block-l {
	display:inline-block;
	margin:20px 20px 0px 10px;
	width:calc(60% - 40px);
}
.content-block-r {
	display:inline-block;
	margin:20px 0px 20px 20px;
	width:calc(40% - 20px);
}
.content-block-w {
	display:inline-block;
	margin:20px 10px;
	width:calc(100% - 40px);
}
ul.list {
	list-style-image: url("img/triangle-bullet.png");
	margin:0;
	padding:0 0 0 15px;
}
ul.list li {
	margin-bottom:10px;
}
/* tabs */
.tabs {
	position: relative;
	width:100%;
	padding-top:140px;
	margin: 0 auto;
}
.tabs > input, .tabs > span {
	width: 20%;
	height: 140px;
	line-height: 100px;
	color:#c15457;
	position: absolute;
	top: 0;
	margin:0;
}
@media only screen and (min-width: 1000px) {
	.tabs > input, .tabs > span {
		width: 200px;
	}
}
.tabs > input {
	cursor: pointer;
	filter: alpha(opacity=0);
	opacity: 0;
	position: absolute;
	z-index: 99;
}
.tabs > span {
	text-align: center;
	overflow: hidden;
}
.tabs > span i, .tabs > span {
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
		 -o-transition: all .5s;
			transition: all .5s;
}
.tabs > input:hover + span {
}
.tabs > input:checked + span {
	background: #f2f2f2;
	border-radius:40px 40px 0 0;
}
.tabs > input:checked + span {
	color: #c15457;
	font-weight:bold;
}
.tabs input:hover + span {
	color: #c15457;
}
#tab-1, #tab-1 + span {
	left: 0;
}
#tab-2, #tab-2 + span {
	left: 20%;
}
#tab-3, #tab-3 + span {
	left: 40%;
}
#tab-4, #tab-4 + span {
	left: 60%;
}
#tab-5, #tab-5 + span {
	left: 80%;
}
@media only screen and (min-width: 1000px) {
	#tab-1, #tab-1 + span {
		left: calc(50vw - 500px + 0px);
	}
	#tab-2, #tab-2 + span {
		left: calc(50vw - 500px + 200px);
	}
	#tab-3, #tab-3 + span {
		left: calc(50vw - 500px + 400px);
	}
	#tab-4, #tab-4 + span {
		left: calc(50vw - 500px + 600px);
	}
	#tab-5, #tab-5 + span {
		left: calc(50vw - 500px + 800px);
	}
}
.tab-content {
	padding: 40px 0 0 0;
	width: 100%;
	min-height: 300px;
	background-color: #f2f2f2;
}
.tab-content section {
	width: 100%;
	display: none;
}
.tab-content section h1 {
	margin-top: 15px;
	font-size: 100px;
	font-weight: 100;
	text-align: center;
}
#tab-1:checked ~ .tab-content #tab-item-1  {
	display: block;
}
#tab-2:checked ~ .tab-content #tab-item-2  {
	display: block;
}
#tab-3:checked ~ .tab-content #tab-item-3  {
	display: block;
}
#tab-4:checked ~ .tab-content #tab-item-4  {
	display: block;
}
#tab-5:checked ~ .tab-content #tab-item-5  {
	display: block;
}
/* effect-1 */
.effect-1 > input:checked + span {
	background: #f2f2f2;
}
.bottom-tab {
	display:inline-block;
	width:20%;
	height:140px;
	text-align: center;
	color:#047f92;
}
.bottom-tab.active {
	background-color:#dde9eb;
	font-weight: bold;
	border-radius:0 0 40px 40px;
}
.bottom-tab > span {
	font-size:36px;
	line-height:2em;
}
.counter-block {
	display:flex;
	flex-direction:column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	padding:20px;
	width:calc(25% - 41px);
	min-height:160px;
	color:#047f92;
}
.counter-block h3 {
	font-size:48px;
	font-weight:normal;
	margin:20px 0;
	color:#047f92;
}
.counter-separator-v {
	border-right: 1px solid #047f92;
}
.counter-separator-v2 {
	border-right: 1px solid #047f92;
}
.counter-separator-h {
	border-bottom: none;
}
@media only screen and (max-width: 480px) {
	.counter-separator-v2 {
		border-right: none;
	}
	.counter-separator-h {
		border-bottom: 1px solid #047f92;
	}
}
input.sandbox-input {
	display:block;
	width:calc(70% - 40px);
	padding:10px 20px;
	background-color:#FFFFFF;
	border-radius:10px;
	border:1px solid #FFFFFF;
	font-size:18px;
	font-weight: normal;
}
span.disclaimer {
	display:block;
	width:70%;
	font-size:10px;
	line-height:1.25em;
}
a.btn-submit {
	display:inline-block;
	font-size:18px;
	line-height:40px;
	font-weight:bold;
	color:#047f92;
	text-decoration:none;
	height:40px;
	width:auto;
	padding:0 40px;
	background-color:#FFFFFF;
	border-radius:20px;
	transition:all ease 0.3s;
	cursor: pointer;
}
a.btn-blue {
	display:inline-block;
	font-size:18px;
	line-height:40px;
	font-weight:bold;
	color:#FFFFFF;
	text-decoration:none;
	height:40px;
	width:auto;
	padding:0 40px;
	background-color:#047f92;
	border-radius:20px;
	transition:all ease 0.3s;
	cursor: pointer;
}
a.btn-submit:hover, a.btn-blue:hover {
	color:#FFFFFF;
	background-color:#07deff;
}
/* video box */
.video-box {
	position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
img.scoreboard-img {
	position:absolute;
}
/* footer */
.footer {
	display:block;
	position:relative;
	background-color: #033C45;
	padding:0 10px;
	color:#047F92;
	font-size: 12px;
	line-height: 20px;
	z-index: 10001;
}
.footer > span.ht-logo {
	font-size:24px;
	vertical-align: middle;
	margin-right: 5px;
}
.footer a {
	color:#047F92;
	text-decoration: none;
	font-weight:bold;
	transition: all 0.3s ease;
}
.footer a.social {
	color:#047F92;
	font-size:18px;
	vertical-align: middle;
	text-decoration: none;
	padding:0 10px;
	transition: all 0.3s ease;
}
.footer a:hover, .footer a.social:hover {
	color:#FFFFFF;
}
.footer > span.separator {
	display:inline-block;
	padding:0 10px;
}
.footer p.disclaimer {
	font-size:10px;
	line-height: 1.25em;
	color:#047F92;
	margin-top:20px;
}
/* infinite logo slide */
@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 5));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 5));
  }
}
.slider {
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
	padding-bottom:60px;
}
/*.slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}*/
.slider .slide-track {
  -webkit-animation: scroll 30s linear infinite;
          animation: scroll 30s linear infinite;
  display: flex;
  width: calc(300px * 10);
}
.slider .slide {
	display:inline-block;
	text-align:center;
	width: 300px;
	margin:0 20px;
	font-weight:bold;
	line-height:20px;
	color:#9e8337;
}
.slider .slide img {
	width:120px;
	height:120px;
	margin-bottom:10px;
}
.slider .slide.forex {
	color:#047f92;
}
/* viewport fade in */
.wrapper {
  width: 100%;
  margin: 0;
}
.elem {
	
}
.to-fade-in {
  opacity: 0;
  &.fade-in {
    animation: fade-in 3s forwards;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* top theme animation */
img.theme-step1, img.theme-step2, img.theme-step3, img.theme-step4, img.theme-step5 {
	position:absolute;
	left:0px;
	bottom:0px;
	width:auto;
	opacity: 0;
}
div.theme-steptext {
	display:flex;
	flex-direction:column;
	justify-content: center;
	padding-bottom:40px;
	color:#FFFFFF;
	font-weight: bold;
	font-size:4.5vw;
	line-height:1.25em;
	position:absolute;
	left:0px;
	bottom:0px;
	width:100%;
	opacity: 0;
	text-align: center;
}
div.theme-steptext span {
	font-size:3.5vw;
}
@media only screen and (min-width: 1025px) {
	div.theme-steptext {
		font-size:52px;
	}
	div.theme-steptext span {
		font-size:40px;
	}
}
.theme-step1-animation, .theme-step2-animation, .theme-step3-animation, .theme-step4-animation, .theme-step5-animation, .theme-steptext-animation {
	animation-duration: 5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	transition: 0.3s ease-out;
}
.theme-step1-animation {
	animation-name: theme-step1;
}
.theme-step2-animation {
	animation-name: theme-step2;
}
.theme-step3-animation {
	animation-name: theme-step3;
}
.theme-step4-animation {
	animation-name: theme-step4;
}
.theme-step5-animation {
	animation-name: theme-step5;
}
.theme-steptext-animation {
	animation-name: theme-steptext;
}
@keyframes theme-step1 {
	0%   {top: 40px; opacity: 0;}
	10%   {top: 100px; opacity: 1;}
	100%  {top: 100px; opacity: 1;}
}
@keyframes theme-steptext {
	10%  {bottom: 0px; opacity: 0;}
	20%  {bottom: 30px; opacity: 1;}
	100% {bottom: 30px; opacity: 1;}
}
@keyframes theme-step2 {
	20%  {top: 120px; opacity: 0;}
	30%  {top: 100px; opacity: 1;}
	100% {top: 100px; opacity: 1;}
}
@keyframes theme-step3 {
	20%   {top: 120px; opacity: 0;}
	30%   {top: 100px; opacity: 1;}
	100%  {top: 100px; opacity: 1;}
}
@keyframes theme-step4 {
	30%   {top: 130px; opacity: 0;}
	40%   {top: 100px; opacity: 1;}
	100%  {top: 100px; opacity: 1;}
}
@keyframes theme-step5 {
	40%   {top: 140px; opacity: 0;}
	50%   {top: 100px; opacity: 1;}
	100%  {top: 100px; opacity: 1;}
}
/* diagram animation */
img.diagram-step1, img.diagram-step2, img.diagram-step3, img.diagram-step4, img.diagram-step5, img.diagram-step6, img.diagram-step7 {
	position:absolute;
	left:calc(50% - 400px);
	top:0px;
	width:800px;
	opacity: 0;
}
.diagram-step1-animation, .diagram-step2-animation, .diagram-step3-animation, .diagram-step4-animation, .diagram-step5-animation, .diagram-step6-animation, .diagram-step7-animation {
	animation-duration:5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	transition: 0.3s ease-out;
}
.diagram-step1-animation {
	animation-name: diagram-step1;
}
.diagram-step2-animation {
	animation-name: diagram-step2;
}
.diagram-step3-animation {
	animation-name: diagram-step3;
}
.diagram-step4-animation {
	animation-name: diagram-step4;
}
.diagram-step5-animation {
	animation-name: diagram-step5;
}
.diagram-step6-animation {
	animation-name: diagram-step6;
}
.diagram-step7-animation {
	animation-name: diagram-step7;
}
@keyframes diagram-step1 {
	5%   {top: 0px; opacity: 0;}
	15%   {top: 0px; opacity: 1;}
	100%  {top: 0px; opacity: 1;}
}
@keyframes diagram-step2 {
	15%  {top: -20px; left:calc(50% - 460px); opacity: 0;}
	25%  {top: 0px; left:calc(50% - 400px); opacity: 1;}
	100% {top: 0px; left:calc(50% - 400px); opacity: 1;}
}
@keyframes diagram-step3 {
	25%   {top: -20px; opacity: 0;}
	35%   {top: 0px; opacity: 1;}
	100%  {top: 0px; opacity: 1;}
}
@keyframes diagram-step4 {
	35%   {top: 0px; opacity: 0;}
	45%   {top: 0px; opacity: 1;}
	100%  {top: 0px; opacity: 1;}
}
@keyframes diagram-step5 {
	45%   {top: 20px; left:calc(50% - 460px); opacity: 0;}
	55%   {top: 0px; left:calc(50% - 400px); opacity: 1;}
	100%  {top: 0px; left:calc(50% - 400px); opacity: 1;}
}
@keyframes diagram-step6 {
	55%  {top: 20px; left:calc(50% - 360px); opacity: 0;}
	65%  {top: 0px; left:calc(50% - 400px); opacity: 1;}
	100% {top: 0px; left:calc(50% - 400px); opacity: 1;}
}
@keyframes diagram-step7 {
	65%  {top: 0px; opacity: 0;}
	75%  {top: 0px; opacity: 1;}
	100% {top: 0px; opacity: 1;}
}
sup.comingsoon {
	display:inline-block;
	padding:4px 12px;
	border-radius:16px;
	background-color:yellow;
	color:black;
	font-size:12px;
	line-height: 1em;
	font-weight: bold;
	text-align: center;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	/*transform: rotate(10deg);*/
}