@charset "UTF-8";
/* CSS Document */
html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Noto Sans';
	font-size:14px;
	color:#666666;
	line-height:1.5em;
	margin:0;
	padding:100px 0 0 0;
	background-color:#ffffff;
	overflow-x:hidden;
}
.body-bottom-space {
	padding-bottom:0px;
}
.desktop {
	display: block;
}
.mobile {
	display: none;
}
@media only screen and (max-width: 480px) {
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
}
@media only screen and (max-width: 768px) {
	body {
		padding:70px 0 210px 0;
	}
}
@media only screen and (max-width: 480px) {
	body {
		padding:50px 0 0 0;
	}
	.body-bottom-space {
		padding-bottom:210px;
	}
}

a {
	color:#edc45c;
	text-decoration:underline;
}
a:hover, a:focus {
	color:#06afc9;
}
a.btn-general {
	display:inline-block;
	height:20px;
	width:auto;
	padding:2px 5px;
	background-color: #D9D0BF;
	text-align: center;
	text-decoration:none;
	font-size:14px;
	font-weight: normal;
	line-height:16px;
	color:#047F92;
	border-radius:6px;
	transition: all 0.3s ease;
}
a.btn-general:hover {
	color:#ffffff;
	background-color:#07c3e0;
}
a.btn-general > span {
	font-size:20px;
	vertical-align:middle;
}
/* header */
.header {
	display:block;
	width: 100%;
	position: fixed;
	top:0;
	left:0;
	z-index: 1001;
}
.header-container-common, .header-container {
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	position: relative;
	margin: 0;
	padding: 15px 20px 0 10px;
	width: calc(100vw - 30px);
	height:85px;
}
.header-container-common {
	background-color: #4d4d4d;
}
.header-container {
	background-color: #edc45c;
}
@media only screen and (max-width: 768px) {
	.header-container, .header-container-common {
		padding: 10px 10px 0 10px;
		width: calc(100vw - 20px);
		height:60px;
	}
}
@media only screen and (max-width: 480px) {
	.header-container, .header-container-common {
		padding: 5px 10px 0 10px;
		height:40px;
	}
}
.logo {
	display:inline-block;
	padding:0;
	transition:all ease 0.3s;
}
.logo img {
	width:auto;
	height:70px;
}
@media only screen and (max-width: 768px) {
	.logo img {
		height:45px;
	}
}
@media only screen and (max-width: 480px) {
	.logo img {
		height:36px;
	}
}
.img-responsive {
	display:inline-block;
	max-height:auto;
	max-width:100%;
}
ul.menu {
	list-style: none;
	display:flex;
	flex-direction:row;
	justify-content: flex-end;
	margin:0;
	padding:0;
	transition:all ease 0.3s;
}
@media only screen and (max-width: 480px) {
	ul.menu {
		display:none;
	}
}
ul.menu li a, ul.menu li a.engine, ul.menu li a.crypto, ul.menu li a.forex {
	display:inline-block;
	margin:0;
	height:65px;
	padding:20px 30px 0 30px;
	border-radius:20px 20px 0 0;
	color:#666666;
	font-size:18px;
	font-weight:bold;
	text-decoration: none;
	background-color:transparent;
	cursor: pointer;
	transition:all ease 0.3s;
	text-align:center;
}
@media only screen and (max-width: 768px) {
	ul.menu li a {
		height:50px;
		padding:10px 20px 0 20px;
		border-radius:15px 15px 0 0;
		font-size:14px;
	}
}
ul.menu li a:hover {
	color:#047f92;
	background-color: #eddcaf;
}
ul.menu li a.active {
	color:#047f92;
	background-color: #ffffff;
	/*box-shadow: 5px -3px 5px rgba(0, 0, 0, 0.3);*/
}
@media only screen and (max-width: 768px) {
	ul.menu li a.engine {
		height:50px;
		padding:10px 20px 0 20px;
		border-radius:15px 15px 0 0;
		font-size:14px;
	}
}
ul.menu li a.crypto {
	color:#edc45c;
}
ul.menu li a.crypto:hover {
	color:#ffffff;
	background-color:#edc45c;
}
ul.menu li a.forex {
	color:#07c3e0;
}
ul.menu li a.forex:hover {
	color:#ffffff;
	background-color:#07c3e0;
}
ul.menu li a.engine:hover {
	color:#edc45c;
	background-color:#4d4d4d;
}
ul.menu li a.engine.active {
	color:#edc45c;
	background-color: #4d4d4d;
	box-shadow: 5px 3px 5px rgba(77, 77, 77, 0.75);
}
h1.result {
	color:#edc45c;
	line-height: 1.25em;
	font-weight:normal;
	font-size:24px;
	margin: 0 10px 0 0;
}
h1 {
	color:#047f92;
	line-height: 1.25em;
	font-weight:bold;
	font-size:48px;
	margin: 20px 0 ;
}
h2 {
	color:#047f92;
	font-size:24px;
	font-weight:bold;
	line-height: 1.25em;
	margin: 20px 0;
}
@media only screen and (max-width: 768px) {
	h1 {
		font-size:32px;
	}
	h2 {
		font-size:24px;
	}
}
@media only screen and (max-width: 480px) {
	h1 {
		font-size:24px;
	}
	h2 {
		font-size:18px;
	}
}
.bg-footer {
	background-color:#806a31;
}
.bg-footer-common {
	background-color:#4d4d4d;
}
p.disclaimer {
	display:block;
	font-size:10px;
	line-height: 1.25em;
	color:#edc45c;
	margin:20px 0;
	text-align: left;
	
	text-align: justify;
}p.disclaimer-common {
	display:block;
	font-size:10px;
	line-height: 1.25em;
	color:#cccccc;
	margin:20px 0;
	text-align: left;
	
	text-align: justify;
}
@media only screen and (max-width: 480px) {
	p.disclaimer {
		width:100%;
	}
}
/* step indicator */
.step-container {
	display:flex;
	position:relative;
	width:300px;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	margin:0 auto 20px;
}
@media only screen and (max-width: 480px) {
	.step-container {
		width:240px;
	}
}
.step-box {
	display:flex;
	position:relative;
	width:50%;
	height:80px;
}
.stepline {
	display:block;
	position:absolute;
	height:6px;
	width:150px;
	background-color:#b3b3b3;
	left:0;
	bottom:12px;
}
@media only screen and (max-width: 480px) {
	.stepline {
		width:120px;
	}
}
.stepline.active {
	background-color:#edc45c;
}
.stepdot {
	display:block;
	position:absolute;
	width:12px;
	height:12px;
	border:6px solid #b3b3b3;
	background-color:#4d4d4d;
	border-radius:50%;
	z-index: 1;
}
.stepdot.active {
	border:6px solid #edc45c;
	background-color:#edc45c;
}
.stepdot.step1 {
	left:-12px;
	bottom:3px;
}
.stepdot.step2 {
	left:138px;
	bottom:3px;
}
@media only screen and (max-width: 480px) {
	.stepdot.step2 {
		left:108px;
	}
}
.stepdot.step3 {
	right:-12px;
	bottom:3px;
}
.steptext {
	position:absolute;
	display:flex;
	font-weight:bold;
	color:#b3b3b3;
	width:120px;
	justify-content: center;
	align-items: flex-end;
}
.steptext.active {
	color:#edc45c;
}
.steptext.step1 {
	left:-60px;
	bottom:30px;
}
.steptext.step2 {
	left:90px;
	bottom:30px;
}
@media only screen and (max-width: 480px) {
	.steptext.step2 {
		left:60px;
	}
}
.steptext.step3 {
	right:-60px;
	bottom:30px;
}
p.intro {
	display:block;
	width:40%;
	min-height:40px;
	margin: 20px auto;
	text-align:center;
	color:#b3b3b3;
	font-size:14px;
}
@media only screen and (max-width: 768px) {
	p.intro {
		width:60%;
	}
}
@media only screen and (max-width: 480px) {
	p.intro {
		width:85%;
	}
}
/* the outer most block width 100%, apply background colors to this block */
.module-block {
	display:block;
	position:relative;
	width:100%;
}
.main-container {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	margin: 0 auto;
	padding: 20px 12px;
	max-width: 1024px;
}
@media only screen and (max-width: 1024px) {
	.main-container {
		padding: 20px 20px;
		max-width: calc(100% - 20px);
	}
}
@media only screen and (max-width: 480px) {
	.main-container {
		padding: 10px 10px;
		max-width: calc(100% - 20px);
	}
}
.content-block {
	display:block;
	margin:0 20px;
	width:calc(50% - 40px);
}
@media only screen and (max-width: 768px) {
	.content-block {
		margin:0 5px;
		width:calc(50% - 10px);
	}
}
@media only screen and (max-width: 480px) {
	.content-block {
		margin:0;
		width:100%;
	}
}
.multi-input-block {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: space-between;
	align-items: flex-end;
}
.multi-input-l {
	display:inline-block;
	width:calc(33% - 5px);
	margin:0 5px 0 0;
}
.multi-input-m {
	display:inline-block;
	width:calc(33% - 10px);
	margin:0 5px 0 5px;
}
.multi-input-r {
	display:inline-block;
	width:calc(33% - 5px);
	margin:0 0 0 5px;
}
@media only screen and (max-width: 768px) {
	.multi-input-l {
		width:calc(30% - 5px);
	}
	.multi-input-m {
		width:calc(30% - 10px);
	}
	.multi-input-r {
		width:calc(39% - 5px);
	}
}
@media only screen and (max-width: 480px) {
	.multi-input-l {
		width:100%;
		margin:0 0 10px 0;
	}
	.multi-input-m {
		width:100%;
		margin:0 0 10px 0;
	}
	.multi-input-r {
		width:100%;
		margin:0 0 10px 0;
	}
}
.multi-input-l2 {
	display:inline-block;
	width:calc(49.9% - 5px);
	margin:0 5px 0 0;
}
.multi-input-r2 {
	display:inline-block;
	width:calc(49.9% - 5px);
	margin:0 0 0 5px;
}
@media only screen and (max-width: 480px) {
	.multi-input-l2 {
		width:100%;
		margin:0 0 10px 0;
	}
	.multi-input-r2 {
		width:100%;
		margin:0 0 10px 0;
	}
}
/* input fields */
.labels {
	display:block;
	font-weight:bold;
	margin-bottom:5px;
}
input.general {
	display:block;
	height:28px;
	width:calc(100% - 10px);
	position:relative;
	padding:2px 4px 0;
	background-color:#FFFFFF;
	border-radius:6px;
	color:#333333;
	margin-bottom:10px;
	border:1px solid #FFFFFF;
}
input.general.error {
	background-color:#ffc4c4;
	color:#ff5e5e;
	border:1px solid #ff5e5e;
}
.currency-unit-box {
	display:block;
	position:relative;
}
input.currency {
	display:block;
	height:28px;
	width:calc(100% - 144px);
	position:relative;
	padding:2px 52px 0 92px;
	background-color:#FFFFFF;
	border-radius:6px;
	color:#333333;
	margin-bottom:10px;
	border:1px solid #FFFFFF;
}
input.currency2 {
	display:block;
	height:28px;
	width:calc(100% - 56px);
	position:relative;
	padding:2px 52px 0 4px;
	background-color:#FFFFFF;
	border-radius:6px;
	color:#333333;
	margin-bottom:10px;
	border:1px solid #FFFFFF;
}
.currency-label {
	display:flex;
	align-items: center;
	justify-content: center;
	width:80px;
	height:32px;
	font-size:12px;
	line-height: 1em;
	color:#CCCCCC;
	padding:0 4px;
	border-right:1px solid #CCCCCC;
	position:absolute;
	left:0;
	top:0;
}
.currency-unit {
	display:flex;
	align-items: center;
	justify-content: center;
	width:43px;
	height:32px;
	font-size:12px;
	line-height: 1em;
	color:#CCCCCC;
	padding:0 2px;
	border-left:1px solid #CCCCCC;
	position:absolute;
	right:0;
	top:0;
}
.custom-select {
	position: relative;
	display:inline-block;
	height:28px;
	padding:2px 32px 2px 0px;
	background-color:#FFFFFF;
	border:1px solid transparent;
	border-radius:6px;
	color:#333333;
	margin:0 0 20px 0px;
}
.custom-select.error {
	background-color:#ffc4c4;
	color:#ff5e5e;
	border:1px solid #ff5e5e;
}
.custom-select select {
	display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: transparent;
}
/*style the arrow inside the select element:*/
.select-selected:after {
	position: absolute;
	content: url(dropmenu-open.svg);
	width:32px;
	height:32px;
	top: 0px;
	right: 0px;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
	content: url(dropmenu-close.svg);
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
	color: #333333;
	padding: 4px 10px;
	border: none;
	cursor: pointer;
	user-select: none;
}
/*style items (options):*/
.select-items {
	position: absolute;
	background-color:#FFFFFF;
	top: 100%;
	left: 6px;
	right: 32px;
	z-index: 99;
}
.select-items:nth-child(1) {
	border-radius:6px 6px 0 0;
}
.select-items:last-child {
	border-radius:0 0 6px 6px;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/* checkbox */
.check-box {
	display: block;
	position: relative;
	padding-left: 20px;
	margin-bottom: 10px;
	color:#FFFFFF;
	cursor: pointer;
	font-size: 12px;
	line-height: 1.25em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.check-box-l {
	display: inline-block;
	width:calc(16.6% - 35px);
	position: relative;
	padding-left: 20px;
	margin:0 10px 10px 0;
	color:#FFFFFF;
	cursor: pointer;
	font-size: 14px;
	line-height: 1.25em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* Hide the browser's default checkbox */
.check-box input, .check-box-l input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 2px;
	left: 0;
	height: 12px;
	width: 12px;
	background-color: #999999;
	border-radius:2px;
	border:1px solid transparent;
}
.checkmark.error {
	background-color:#ffc4c4;
	border:1px solid #ff5e5e;
}
/* On mouse-over, add a background color */
.container:hover input ~ .checkmark {
	background-color: #06AFC9;
}
/* When the checkbox is checked, add a blue background */
.check-box input:checked ~ .checkmark, .check-box-l input:checked ~ .checkmark {
	background-color: #047F92;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
/* Show the checkmark when checked */
.check-box input:checked ~ .checkmark:after, .check-box-l input:checked ~ .checkmark:after {
	display: block;
}
/* Style the checkmark/indicator */
.check-box .checkmark:after, .check-box-l .checkmark:after {
	left: 0px;
	top: 0px;
	width: 12px;
	height: 12px;
	background-image:url("check-white.svg");
	background-position:center;
	background-repeat: no-repeat;
	background-size:12px 12px;
}
.error-msg-box {
	display:block;
	color:#ED1C24;
	font-size:12px;
	margin:0 0 20px 0px;
}
.btn-container {
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	align-items: flex-end;
	margin: 0 auto 40px auto;
	max-width: 984px;
	width:calc(100% - 64px);
}
@media only screen and (max-width: 768px) {
	.btn-container {
		width:calc(100% - 32px);
	}
}
@media only screen and (max-width: 480px) {
	.btn-container {
		width:100%;
		align-items: center;
		justify-content:center;
	}
}
a.btn-submit {
	display:inline-block;
	font-size:18px;
	line-height:60px;
	font-weight:bold;
	color:#000000;
	text-decoration:none;
	height:60px;
	width:300px;
	text-align: center;
	background-color:#edc45c;
	border-radius:10px;
	transition:all ease 0.3s;
	cursor: pointer;
	margin-bottom:5px;
}
a.btn-submit:hover {
	color:#FFFFFF;
	background-color:#047f92;
}
a.btn-submit.disabled {
	color:#999999;
	background-color:#CCCCCC;
	cursor:default;
}
a.btn-info {
	display:inline-block;
	position:relative;
	font-size:18px;
	line-height:1em;
	width:12px;
	height:12px;
	background-color:#FFFFFF;
	color:#047f92;
	cursor: pointer;
	transition:all ease 0.3s;
	text-decoration:none;
	border-radius:50%;
	vertical-align: middle;
	margin:0 0 0 4px;
}
a.btn-info:hover {
	color:#06afc9;
}
a.btn-info > span {
	position:absolute;
	top:-4px;
	left:-3px;
}
/* exchange loading logo */
.exchange-loading-block {
	display:inline-block;
	margin:20px;
	width:40px;
	height:40px;
	text-align: center;
}
.exchange-logo-block {
	display:inline-block;
	margin:20px;
	width:40px;
	height:40px;
	font-size:40px;
	line-height:40px;
	text-align: center;
	color:#999999;
	border-radius:50%;
	background-color:transparent;
}
.exchange-logo-block.active {
	color:#4d4d4d;
	background-color:#edc45c;
}
/* video box */
.video-box {
	position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.timestamp {
	display:inline-block;
	padding:10px;
	font-size:12px;
	line-height:1.25em;
	border-left:1px solid #edc45c;
}
@media only screen and (max-width: 480px) {
	.timestamp {
		padding:10px 0;
		border-left:none;
	}
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	border-radius:20px;
}
.adbanner-box {
	position:relative;
}
@media only screen and (max-width: 768px) {
	.adbanner-box {
		position:fixed;
		bottom:210px;
	}
}
@media only screen and (max-width: 480px) {
	.adbanner-box {
		position:relative;
		bottom:0px;
	}
}
/* footer */
.footer-common {
	display:block;
	position:relative;
	background-color: #4d4d4d;
	padding:20px 10px;
	color:#cccccc;
	font-size: 12px;
	line-height: 20px;
}
.footer {
	display:block;
	position:relative;
	background-color: #806a31;
	padding:20px 10px;
	color:#edc45c;
	font-size: 12px;
	line-height: 20px;
}
@media only screen and (max-width: 768px) {
	.footer, .footer-common {
		position:fixed;
		bottom:0;
		z-index:10001;
	}
}
@media only screen and (max-width: 480px) {
	.footer, .footer-common {
		position:relative;
		padding:10px 10px 20px 10px;
	}
}
.footer > span.ht-logo, .footer-common > span.ht-logo {
	display:inline;
	font-size:24px;
	vertical-align: middle;
	margin-right: 5px;
}
.footer a {
	color:#edc45c;
	text-decoration: none;
	font-weight:bold;
	transition: all 0.3s ease;
}
.footer-common a {
	color:#07c3e0;
	text-decoration: none;
	font-weight:bold;
	transition: all 0.3s ease;
}
.footer-logo-box {
	display:inline;
}
.footer-link-box {
	display:inline;
}
.social-box {
	display:inline;
}
@media only screen and (max-width: 768px) {
	.social-box {
		display:block;
		width:100%;
		text-align:center;
	}
}
@media only screen and (max-width: 480px) {
	.footer-logo-box {
		display:block;
		width:100%;
		text-align:center;
	}
	.footer-link-box {
		display:block;
		width:100%;
		text-align:center;
		margin:10px 0;
	}
}
.footer a.social {
	color:#edc45c;
	font-size:18px;
	vertical-align: middle;
	text-decoration: none;
	padding:0 10px;
	transition: all 0.3s ease;
}
.footer-common a.social {
	color:#07c3e0;
	font-size:18px;
	vertical-align: middle;
	text-decoration: none;
	padding:0 10px;
	transition: all 0.3s ease;
}
.footer a:hover, .footer a.social:hover, .footer-common a:hover, .footer-common a.social:hover {
	color:#FFFFFF;
}
.footer > .footer-link-box > span.separator, .footer-common > .footer-link-box > span.separator {
	display:inline-block;
	padding:0 10px;
}
@media only screen and (max-width: 480px) {
	.footer > .footer-link-box > span.separator, .footer-common > .footer-link-box > span.separator {
		padding:0 10px;
	}
}
.footer p.disclaimer {
	font-size:10px;
	line-height: 1.25em;
	color:#edc45c;
	margin:20px 0 0 0;
	width:calc(100% - 120px);
}
.footer-common p.disclaimer {
	font-size:10px;
	line-height: 1.25em;
	color:#cccccc;
	margin:20px 0 0 0;
	width:calc(100% - 120px);
}
@media only screen and (max-width: 480px) {
	.footer p.disclaimer, .footer-common p.disclaimer {
		margin:5px 0 0 0;
		width:100%;
	}
}
.footer-logo {
	height:60px;
	margin-right: 10px;
	vertical-align: middle;
}
@media only screen and (max-width: 480px) {
	.footer-logo {
		display:none;
		height:30px;
		margin-right: 10px;
	}
}
/* infinite logo slide */
@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 5));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 5));
  }
}
.slider {
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
	padding-bottom:60px;
}
/*.slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}*/
.slider .slide-track {
  -webkit-animation: scroll 30s linear infinite;
          animation: scroll 30s linear infinite;
  display: flex;
  width: calc(300px * 10);
}
.slider .slide {
	display:inline-block;
	text-align:center;
	width: 300px;
	margin:0 20px;
	font-weight:bold;
	line-height:20px;
	color:#9e8337;
}
.slider .slide img {
	width:120px;
	height:120px;
	margin-bottom:10px;
}
.slider .slide.forex {
	color:#047f92;
}
/* promotions */
.promo-box {
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	width:calc(50% - 60px);
	margin:20px;
	background-color:#f2f2f2;
	border-radius:20px;
	padding:10px;
}
@media only screen and (max-width: 480px) {
	.promo-box {
		width:calc(100% - 30px);
		margin:5px;
	}
}
.promo-box-top {
	display:flex;
	flex-direction:column;
}
.promo-box-top p {
	font-size:12px;
	line-height: 1.25em;
	margin:5px 10px;
}
.promo-box-bottom {
	display:flex;
	flex-direction:row;
	justify-content: center;
}
.promo-logo {
	display:flex;
	font-weight:bold;
	align-items:center;
}
.promo-logo img {
	width:60px;
	height:60px;
}
a.btn-promo {
	display:flex;
	justify-content: center;
	align-items:center;
	text-decoration:none;
	height: 40px;
	width:100px;
	font-weight:bold;
	border-radius:20px;
	margin:5px;
	transition:all ease 0.3s;
}
a.btn-promo.binance {
	color:#000000;
	background-color:#edc45c;
}
a.btn-promo.huobi {
	color:#FFFFFF;
	background-color:#2496fc;
}
a.btn-promo.bybit {
	color:#FFFFFF;
	background-color:#000000;
}
a.btn-promo.kraken {
	color:#FFFFFF;
	background-color:#6e58de;
}
a.btn-promo.ftx {
	color:#FFFFFF;
	background-color:#00abc1;
}
a.btn-promo:hover {
	color:#ffffff;
	background-color:#07c3e0;
}
a.btn-promo span {
	font-size:24px;
}
/* blog list */
ul.blog {
	list-style: none;
	padding:0;
	margin:40px 0 0 0;
	width:100%;
}
@media only screen and (max-width: 768px) {
	ul.blog {
		margin:20px 0 0 0;
	}
}
@media only screen and (max-width: 480px) {
	ul.blog {
		margin:10px 0 0 0;
	}
}
ul.blog li {
	display:flex;
	align-items: stretch;
	margin:0 0 40px 0;
	background-color:#fafafa;
	border-radius:20px;
	padding:0;
	width:100%;
}
@media only screen and (max-width: 768px) {
	ul.blog li {
		margin:0 0 20px 0;
	}
}
@media only screen and (max-width: 480px) {
	ul.blog li {
		flex-direction:column;
		margin:0 0 10px 0;
	}
}
ul.blog li > .thumbnail {
	display:block;
	width:30%;
	min-height:100%;
	background-color:#f2f2f2;
	border-radius:20px 0 0 20px;
	background-position: center;
	background-size:cover;
	background-repeat: no-repeat;
}
@media only screen and (max-width: 768px) {
	ul.blog li > .thumbnail {
		width:45%;
	}
}
@media only screen and (max-width: 480px) {
	ul.blog li > .thumbnail {
		display:block;
		width:100%;
		min-height:120px;
		height:120px;
		border-radius:20px 20px 0 0;
	}
}
ul.blog li > .intro {
	display:flex;
	flex-direction:column;
	padding:20px;
	color:#666666;
	width:calc(70% - 40px);
}
@media only screen and (max-width: 768px) {
	ul.blog li > .intro {
		width:calc(60% - 40px);
	}
}
@media only screen and (max-width: 480px) {
	ul.blog li > .intro {
		width:calc(100% - 40px);
	}
}
ul.blog li > .intro > .blog-header {
	display:flex;
	flex-direction: row-reverse;
	align-items:center;
}
ul.blog li > .intro > h1, .blog-content > h1 {
	color:#047f92;
	font-size:24px;
	font-weight: normal;
	line-height: 1.25em;
	margin:20px 0;
}
ul.blog li > .intro > p, .blog-content > p {
	margin:0 0 20px 0;
}
.hash {
	display:block;
	padding:10px;
	background-color: #e6e6e6;
	border-radius:10px;
	margin:0 0 20px 0;
}
.hash > span {
	display:inline-block;
	margin-right:15px;
}
.blog-footer {
	display:flex;
	justify-content: space-between;
	align-items:center;
}
.blog-date {
	color:#999999;
}
a.btn-share {
	display:inline-block;
	width:32px;
	height:32px;
	background-color:#e6e6e6;
	color:#666666;
	font-size:24px;
	line-height: 32px;
	text-align: center;
	text-decoration: none;
	border-radius:6px;
	transition:all ease 0.3s;
}
a.btn-share:hover {
	color: #ffffff;
	background-color:#07c3e0;
}
.blog-details {
	display:flex;
	width:100%;
	justify-content: space-between;
}
@media only screen and (max-width: 480px) {
	.blog-details {
		flex-direction:column;
	}
}
.blog-content {
	display:flex;
	flex-direction:column;
	padding:0 20px 0 0;
	width:calc(70% - 20px);
}
.blog-media {
	display:flex;
	flex-direction:column;
	width:30%;
	margin:60px 0 20px 0;
}
@media only screen and (max-width: 768px) {
	.blog-content {
		width:calc(60% - 20px);
	}
	.blog-media {
		width:40%;
	}
}
@media only screen and (max-width: 480px) {
	.blog-content {
		padding:0;
		width:100%;
	}
	.blog-media {
		margin:20px 0 20px 0;
		width:100%;
	}
}
.blog-pic {
	width:100%;
	background-color: #f2f2f2;
	background-position: center;
	background-size:cover;
	background-repeat:no-repeat;
	margin-bottom:10px;
	border-radius:20px;
}
.blog-pic:after {
	content: "";
    display: block;
    padding-bottom: 100%;
}
.blog-caption {
	display:block;
	font-size:10px;
	color:#999999;
	margin-bottom:20px;
}
/* topbanner */
.commontop {
	display:block;
	position:relative;
	height:calc(100vh - 200px);
	padding:0;
	margin:0;
	width:100vw;
	background-image: linear-gradient(to right, #ba9a48, #047f92);
}
.commontop-devices {
	position:relative;
	display:flex;
	padding-top:90px;
	height:calc(60vh - 200px);
	width:100%;
	max-width:1280px;
	margin:0px auto;
}
@media only screen and (max-width: 1024px) {
	.commontop {
		height:calc(100vh - 200px);
	}
	.commontop-devices {
		height:calc(60vh - 180px);
	}
}
@media only screen and (max-width: 960px) {
	.commontop {
		height:50vh;
	}
	.commontop-devices {
		height:25vh;
	}
}
@media only screen and (max-width: 600px) {
	.commontop {
		height:33vh;
	}
	.commontop-devices {
		height:7vh;
	}
}
img.commontop-laptop {
	position:absolute;
	top:90px;
	left:25%;
	height:calc(60vh - 180px);
}
img.commontop-mobile {
	position:absolute;
	top:calc(90px + 17%);
	left:20%;
	height:calc(55vh - 180px);
}
img.commontop-tablet {
	position:absolute;
	top:calc(90px + 8%);
	right:15%;
	height:calc(58vh - 180px);
}
@media only screen and (max-width: 1280px) {
	img.commontop-laptop {
		left:16%;
		height:calc(60vh - 180px);
	}
	img.commontop-mobile {
		left:12%;
		height:calc(55vh - 180px);
	}
	img.commontop-tablet {
		right:13%;
		height:calc(58vh - 180px);
	}
}
@media only screen and (max-width: 960px) {
	img.commontop-laptop {
		left:10%;
		height:28vh;
	}
	img.commontop-mobile {
		left:3%;
		height:20vh;
	}
	img.commontop-tablet {
		right:2%;
		height:23vh;
	}
}
@media only screen and (max-width: 600px) {
	img.commontop-laptop {	
		top:30px;
		left:9%;
		height:16vh;
	}
	img.commontop-mobile {
		top:calc(30px + 17%);
		left:1%;
		height:14vh;
	}
	img.commontop-tablet {
		top:calc(30px + 8%);
		right:1%;
		height:15vh;
	}
}
.commontop-headlines {
	position:relative;
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width:100%;
	max-width:1280px;
	margin:0px auto;
	padding: 20px 0 5px 0;
	z-index:999;
}
.headline-1 h2 {
	color:#FFFFFF;
	margin: 0;
	line-height: 1em;
	font-size:8vh;
	text-align: right;
	padding:0 10px;
}
.headline-2 h1 {
	color:#FFFFFF;
	margin: 0;
	line-height: 1em;
	font-size:25vh;
}
.headline-3 h3 {
	color:#FFFFFF;
	margin: 0;
	line-height: 1.25em;
	font-size:6vh;
	padding:0 10px;
}
@media only screen and (max-width: 1024px) {
	.headline-1 h2 {
		font-size:6vh;
	}
	.headline-2 h1 {
		font-size:18vh;
	}
	.headline-3 h3 {
		font-size:4vh;
	}
}
@media only screen and (max-width: 960px) {
	.headline-1 h2 {
		font-size:4vh;
	}
	.headline-2 h1 {
		font-size:12vh;
	}
	.headline-3 h3 {
		font-size:3vh;
	}
}
@media only screen and (max-width: 600px) {
	.headline-1 h2 {
		font-size:3vh;
	}
	.headline-2 h1 {
		font-size:8vh;
	}
	.headline-3 h3 {
		font-size:1.5vh;
	}
}
.commontop-bg-1 {
	position:absolute;
	left:12.5vw;
	top:0;
}
.commontop-bg-1 img {
	width:37.5vw;
}
.commontop-bg-2 {
	position:absolute;
	right:0;
	top:0;
}
.commontop-bg-2 img {
	width:50vw;
}
.commontop-bg-3 {
	position:absolute;
	left:0;
	bottom:0;
	z-index:997;
}
.commontop-bg-3 img {
	width:75vw;
}
.commontop-bg-4 {
	position:absolute;
	right:0;
	bottom:0;
}
.commontop-bg-4 img {
	width:100vw;
}
.commontop-bg-5 {
	position:absolute;
	right:0;
	bottom:0;
	z-index:998;
}
.commontop-bg-5 img {
	width:50vw;
}
/* action button to crypto or forex */
.split-container {
	position:fixed;
	bottom:0;
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	align-items: stretch;
	width:100vw;
	background-color:#edc45c;
	z-index: 10002;
}
.gotocrypto-container, .gotoforex-container {
	display:flex;
	justify-content: center;
	align-items: center;
	width:50%;
	height:120px;
}
.gotocrypto-container {
	background-color:#edc45c;
}
.gotoforex-container {
	background-color:#06afc9;
}
a.btn-go-crypto, a.btn-go-forex {
	display:flex;
	height:60px;
	padding:10px;
	width:70%;
	flex-direction:row;
	justify-content: space-between;
	align-items: center;
	border-radius:16px;
	color:#FFFFFF;
	text-decoration:none;
	transition: all 0.3s ease;
}
a.btn-go-crypto img, a.btn-go-forex img {
	width:60px;
}
a.btn-go-crypto span, a.btn-go-forex span {
	width:calc(100% - 64px);
	text-align: center;
	line-height: 1.5em;
}
a.btn-go-crypto {
	background-color: #8f6f1b;
}
a.btn-go-forex {
	background-color: #103456;
}
a.btn-go-crypto:hover {
	background-color: #5c4711;
}
a.btn-go-forex:hover {
	background-color: #071624;
}
/* features */
.feature-box {
	display:flex;
	flex-direction:column;
	align-items: center;
	margin:10px;
	width:calc(33% - 20px);
}
.feature-box img {
	width:150px;
}
.feature-box p {
	text-align: center;
	font-size: larger;
	margin: 0 30px 30px;
}
@media only screen and (max-width: 960px) {
	.feature-box {
		width:calc(50% - 20px);
	}
}
@media only screen and (max-width: 600px) {
	.feature-box {
		width:calc(100% - 20px);
	}
	.feature-box p {
		margin: 0 10px 30px;
	}
}
/* exchange brofer list in common landing */
.crypto-logo-container, .forex-logo-container {
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
	padding:0 20px;
	width:calc(50% - 40px);
}
@media only screen and (max-width: 600px) {
	.crypto-logo-container, .forex-logo-container {
		width:calc(100% - 40px);
	}
}
.crypto-logo-container h2, .forex-logo-container h2 {
	display:block;
	width:100%;
	margin-bottom: 40px;
	text-align: center;
}
.exchange-broker-box {
	display:flex;
	height:140px;
	width:33.3%;
	flex-direction:column;
	align-items:center;
	color:#666666;
	font-weight:bold;
	font-size:14px;
	text-align: center;
}
.exchange-broker-box img {
    display: block;
    height: 48px;
    width: 48px;
}
/* crypto top banner */
.topbanner {
	display:flex;
	justify-content:space-between;
	align-items:flex-end;
	position:relative;
	padding:90px 0 40px 0;
	/*height:calc(100vh - 100px);*/
	width:100vw;
	background-image: url("img/top-theme-bg.png");
	background-position: center;
	background-size:cover;
}
@media only screen and (min-width: 1281px) {
	.topbanner {
		padding:150px 0 40px 0;
	}
}
@media only screen and (max-width: 768px) {
	.topbanner {
		padding:120px 0 40px 0;
	}
}
@media only screen and (max-width: 480px) {
	.topbanner {
		flex-direction:column;
		padding:0;
	}
}
.topbanner-headlines {
	display:flex;
	flex-direction:column;
	justify-content: flex-end;
	align-items: flex-start;
	width:35vw;
	margin-left:0px;
	padding: 0 0 0 calc(50vw - 512px);
}
@media only screen and (max-width: 1430px) {
	.topbanner-headlines {
		width:40vw;
		margin-left:0px;
		padding: 0 0 0 calc(50vw - 512px);
	}
}
@media only screen and (max-width: 1184px) {
	.topbanner-headlines {
		width:calc(50vw - 20px);
		margin-left:20px;
		padding: 0 0 0 calc(50vw - 500px);
	}
}
@media only screen and (max-width: 480px) {
	.topbanner-headlines {
		width:calc(100vw - 40px);
		margin-left:0px;
		padding: 20px;
	}
}
.headline-box h1, .headline-box h2, .headline-box h3, .headline-box p {
	margin:0 0 10px 0;
	font-weight:bold;
	color:#FFFFFF;
}
.headline-box h1 {
	font-size:15vw;
	line-height:0.75em;
}
.headline-box h2 {
	font-size:5.5vw;
	line-height: 1em;
}
.headline-box h3 {
	font-size:2.75vw;
	line-height: 1.25em;
}
.headline-box p {
	font-size:18px;
	line-height: 1.25em;
}
@media only screen and (max-width: 768px) {
	.headline-box h1 {
		font-size:10vw;
	}
	.headline-box h2 {
		font-size:18px;
	}
	.headline-box h3 {
		font-size:14px;
	}
	.headline-box p {
		font-size:14px;
	}
}
.topbanner-pictures {
	width:40vw;
	position:relative;
}
@media only screen and (max-width: 480px) {
	.headline-box h1 {
		font-size:35vw;
	}
	.headline-box h2 {
		font-size:10vw;
	}
	.headline-box h3 {
		font-size:5vw;
	}
	.topbanner-pictures {
		width:100vw;
	}
	.headline-box p {
		font-size:14px;
		padding:20px 20px 0;
	}
}
img.laptop {
	position:absolute;
	bottom:10px;
	right:0px;
	width:50vw;
	animation-name: laptopmove;
	animation-duration: 1s;  
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}
img.mobilephone {
	position:absolute;
	bottom:10px;
	right:0px;
	width:50vw;
	opacity: 0;
	animation-name: mobilephonemove;
	animation-duration: 1s;  
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
}
@media only screen and (max-width: 480px) {
	img.laptop {
		position:relative;
		width:100vw;
		animation-name: none;
	}
	img.mobilephone {
		width:100vw;
	}
}
@keyframes laptopmove {
  from {right: -150px; opacity:0.5;}
  to {right:-0px; opacity:1;}
}
@keyframes mobilephonemove {
  from {bottom: 60px; opacity:0;}
  to {bottom:10px; opacity:1;}
}
.topbanner-fg-1 {
	position:absolute;
	top:0;
	right:0;
}
.topbanner-fg-2 {
	position:absolute;
	bottom:0px;
	right:0;
}
@media only screen and (max-width: 480px) {
	.topbanner-fg-2 {
		display:none;
	}
}
.topbanner-fg-1 img, .topbanner-fg-2 img {
	width:40vw;
}
ul.list {
	list-style-image: url("img/triangle-bullet-white.png");
	margin:0 0 20px 0;
	padding:0 0 0 15px;
}
ul.list li {
	margin-bottom:10px;
	font-size:18px;
	color:#FFFFFF;
	line-height: 1.25em;
	font-weight:normal;
}
@media only screen and (max-width: 768px) {
	ul.list li {
		font-size:14px;
	}
}
@media only screen and (max-width: 480px) {
	ul.list {
		margin:0 20px 40px 20px;
		z-index:999;
	}
}
/* number counter 
@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
span.topcount {
  animation: counter 3s 1 forwards ease-in-out;
  counter-reset: num var(--num);
}

span.topcount::after {
  content: "99";
}

@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: 99;
  }
}*/
/* potential saving counter */
.saving-counter {
	display:block;
	position:absolute;
	width:320px;
	top:100px;
	left:calc(50vw - 170px);
	background-color:#033c45;
	color:#FFFFFF;
	border-radius:0 0 20px 20px;
	text-align: center;
	font-weight: bold;
	font-size:14px;
	padding: 10px;
	z-index:99;
	box-shadow: 0px 0px 10px rgba(128, 243, 255, 1.0);
}
.saving-counter h2 {
	margin:0;
	font-size:28px;
	color:#FFFFFF;
}
@media only screen and (max-width: 768px) {
	.saving-counter {
		top:70px;
	}
}
@media only screen and (max-width: 480px) {
	.saving-counter {
		width:calc(100% - 20px);
		top:45px;
		left:0px;
		border-radius:0;
	}
	.saving-counter h2 {
		font-size:20px;
	}
}
/* landing page content blocks */
.full-content-block-1 {
	display:flex;
	width:100vw;
	flex-direction:row;
	justify-content:space-between;
	align-items:stretch;
}
.half-content-block-1 {
	position:relative;
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	width:50%;
}
.half-left-1 {
	margin:0px 20px 20px 0;
}
.half-right-1 {
	margin:0px 0px 20px 20px;
}
.half-left-1 h2, .half-right-1 h2 {
	margin: 0 0 10px 0;
}
@media only screen and (max-width: 480px) {
	.full-content-block-1 {
		flex-direction:column;
	}
	.half-content-block-1 {
		width:100%;
	}
	.half-left-1 {
		margin:0 0 20px 0;
		text-align: center;
	}
	.half-right-1 {
		margin:0 0 20px 0;
		text-align: center;
	}
}
/* solutions and approach */
.solution-bg {
	width:100%;
	background-image: url("img/bg-solution.png");
	background-position: center;
	background-size: cover;
}
img.step1 {
	position:absolute;
	left:0px;
	bottom:0px;
	width:auto;
	opacity: 0;
}
img.step2 {
	opacity: 0;
}
img.step3 {
	position:absolute;
	right:0px;
	bottom:0px;
	width:auto;
	opacity: 0;
}
.step1-animation {
	animation-name: step1;
	animation-duration: 6s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.step2-animation {
	animation-name: step2;
	animation-duration: 6s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.step3-animation {
	animation-name: step3;
	animation-duration: 6s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes step1 {
	0%   {bottom: 50px; opacity: 0;}
	10%   {bottom: 0px; opacity: 1;}
	100%  {bottom: 0px; opacity: 1;}
}
@keyframes step2 {
	20%  {opacity: 0;}
	30%  {opacity: 1;}
	100% {opacity: 1;}
}
@keyframes step3 {
	40%   {bottom: 50px; opacity: 0;}
	50%   {bottom: 0px; opacity: 1;}
	100%  {bottom: 0px; opacity: 1;}
}
/* explainer video */
.explainer-bg {
	width:100vw;
	background-color:#edc45c;
	padding:40px 0;
}

.explainer-box {
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}
.explainer-item-l {
	width:100%;
	text-align: center;
}
.explainer-item-r {
	width:60%;
	margin:0 20%;
}
@media only screen and (max-width: 480px) {
	.explainer-item-r {
		width:100%;
		margin:0 0;
	}
}
/* exchange icons */
.exchange-bg {
	width:100vw;
	background-color:#F2F2F2;
	padding:40px 0 0 0;
}
.exchange-box {
	display:flex;
	height:140px;
	width:16.6%;
	flex-direction:column;
	align-items:center;
	color:#047f92;
	font-weight:bold;
}
@media only screen and (max-width: 768px) {
	.exchange-box {
		width:25%;
	}
}
@media only screen and (max-width: 480px) {
	.exchange-box {
		width:33.3%;
	}
}
.exchange-box img {
	display:block;
	height:60px;
	width:60px;
}
.switch-menu {
	display:flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	padding:20px 0;font-weight: bold;
	text-decoration:none;
	transition: all 0.3s ease;
}
.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 16px;
	margin-left:8px;
	margin-top:4px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 10px;
  bottom: 0;
	height:16px;
	width:28px;
	padding-bottom:0;
  background-color: #999;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #047F92;
}
input:focus + .slider {
  box-shadow: 0 0 1px rgba(0 0 0 / 0.5);
}
input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 8px;
}
.slider.round:before {
  border-radius: 50%;
}
/* 1 click */
.oneclick {
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	align-items: center;
	position:fixed;
	right:0px;
	bottom:110px;
	width:100px;
	background-color:#c15357;
	color:#FFFFFF;
	font-size: 16px;
	font-weight:bold;
	text-decoration: none;
	padding:10px;
	border-radius:20px 0 0 0;
	z-index: 10002;
	text-align: right;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
	transition:all ease 0.3s;
}
@media only screen and (max-width: 480px) {
	.oneclick {
		flex-direction:row;
		justify-content:center;
		align-items:center;
		bottom:70px;
		width:calc(100% - 20px);
		height:30px;
		border-radius:0px;
		text-align: center;
	}
}
/* action button */
a.btn-fee-engine {
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	align-items: flex-end;
	position:fixed;
	right:0px;
	bottom:20px;
	width:100px;
	background-color:#047f92;
	color:#edc45c;
	font-size: 16px;
	line-height: 1.25em;
	font-weight:bold;
	text-decoration: none;
	padding:10px;
	border-radius:0 0 0 20px;
	z-index: 10003;
	text-align: right;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
	transition:all ease 0.3s;
}
a.btn-fee-engine:hover {
	background-color: #333333;
}
.text-start {
	display:flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items:center;
	font-size: 24px;
}
.text-start span {
	font-size:32px;
}
@media only screen and (max-width: 480px) {
	a.btn-fee-engine {
		flex-direction:row;
		justify-content:center;
		align-items:center;
		bottom:0px;
		width:calc(100% - 20px);
		height:50px;
		border-radius:0px;
		text-align: center;
	}
	.text-start {
		font-size: 16px;
	}
	.text-start span {
		font-size:22px;
	}
}