@charset "UTF-8";
/* CSS Document */

.theme-container {
	display:flex;
	flex-direction:row;
	position:relative;
	justify-content: space-between;
	width:100vw;
	height:100vh;
	background-color:#367e91;
	background-image:url("img/ht-top-logo.png"), url("img/ht-top-brain-r.png"), url("img/ht-top-gradient.png"), url("img/ht-top-brain-l.png"), url("img/ht-top-bg.png");
	background-position:right center;
	background-size:80vw auto, 80vw auto, cover, 80vw auto, cover;
	background-repeat:no-repeat;
	z-index:1000;
}
.theme-text-box {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:flex-start;
	margin:0 0 0 5vw;
	width: calc(50% - 5vw);
	height:100vh;
	z-index:100;
}
.theme-text-box h1 {
	font-size:5.5vw;
	line-height: 1.05em;
	font-weight: bold;
	margin:20px 0;
	color:#FFFFFF;
}
.theme-text-box h2 {
	font-size:2.5vw;
	line-height: 1.25em;
	font-weight: bold;
	margin:0 0 20px 0;
	color:#FFFFFF;
}
@media only screen and (max-width: 920px) {
	.theme-container {
		flex-direction:column;
		justify-content: flex-start;
		background-position:center 35vh, center 35vh, center center, center 35vh, center center;
		background-size:120vw auto, 120vw auto, cover, 120vw auto, cover;
	}
	.theme-text-box {
		margin:100px 0 0 20px;
		width: calc(100% - 20px);
		height:auto;
	}
	.theme-text-box h1 {
		font-size:10vw;
	}
	.theme-text-box h2 {
		font-size:5vw;
	}
}
@media only screen and (max-width: 540px) {
	.theme-container {
		background-position:calc(50% - 50px) 45vh, calc(50% - 50px) 45vh, center center, calc(50% - 50px) 45vh, center center;
		background-size:150vw auto, 150vw auto, cover, 150vw auto, cover;
	}
	.theme-text-box h1 {
		font-size:14vw;
	}
	.theme-text-box h2 {
		font-size:6vw;
	}
}

a.btn-reg-free {
    display: inline-block;
    padding: 0px 24px;
    margin: 20px 0;
	height:48px;
    background-color: #ffffff;
    border-radius: 20px;
	border:4px solid #047f92;
    color: #033c45;
    font-size: 22px;
	line-height:48px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: all ease 0.3s;
}
@media only screen and (max-width: 540px) {
	a.btn-reg-free {
		margin: 0;
	}
}
a.btn-reg-free:hover {
	color:#FFFFFF;
	background-color: #07deff;
	transform: scale(1.2);
}
a.btn-explainer {
	display:inline-block;
	position:absolute;
	right:40px;
	bottom:40px;
	background-color:#333333;
	font-size:16px;
	color:#07deff;
	text-decoration: none;
	height:40px;
	line-height:40px;
	padding:4px 20px;
	border-radius:20px;
	transition:all ease 0.3s;
	cursor:pointer;
}
a.btn-explainer:hover {
	color:#333333;
	background-color:#07deff;
}
a.btn-explainer > span {
	font-size:18px;
}

/* top slideshow */
.theme-slideshow {
	display:flex;
	align-items:center;
	position: relative;
    width: 25vw;
    height: 100vh;
}
.theme-slide {
	right:5vw;
    position: absolute;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-duration: 15s;
    opacity: 0;
	text-align:center;
	width:20vw
}
.theme-slide img {
	width:25vw;
}
.theme-slide span {
	display:block;
	color:#ffffff;
	font-size:2vw;
	font-weight:bold;
	line-height:0em;
}
.theme-slide:nth-child(1) {
    animation-name: themeanimate1;
}
.theme-slide:nth-child(2) {
    animation-name: themeanimate2;
}
.theme-slide:nth-child(3) {
    animation-name: themeanimate3;
}
@keyframes themeanimate1 {
  0% {
    opacity: 1;
  }
  33.333% {
    opacity: 1;
  }
  41.666% {
    opacity: 0;
  }
  91.666% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes themeanimate2 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  41.666% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  83.333% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes themeanimate3 {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  78.333% {
    opacity: 1;
  }
  91.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.general-container {
	display:block;
	position:relative;
	padding:160px 5vw 0 5vw;
	height:calc(100vh - 160px);
}
.general-container-slide2 {
	display:block;
	position:relative;
	padding:160px 0 0 5vw;
	height:calc(100vh - 160px);
}
@media only screen and (max-width: 920px) {
	.general-container {
		padding:160px 20px 0 20px;
	}
	.general-container-slide2 {
		padding:160px 20px 0 20px;
	}
}
@media only screen and (max-width: 540px) {
	.general-container {
		padding:40px 20px 20px 20px;
		height:auto;
		/*min-height: calc(100vh - 100px);*/
		border-top:4px solid #cccccc;
	}
	.general-container-slide2 {
		padding:40px 20px 20px 20px;
		height:auto;
		/*min-height: calc(100vh - 100px);*/
		border-top:4px solid #cccccc;
	}
}

/* quote */
.quote-container {
	display:flex;
	flex-direction:row;
	justify-content: center;
	align-content: center;
	margin:40px 0;
}
.quote-block-l, .quote-block-m, .quote-block-r  {
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	width:calc(30% - 80px);
	
	font-weight: normal;
	font-style: italic;
	padding:0 40px 20px 40px;
	border-radius:40px;
	margin:10px;
}
.separator2 {
	height:40px;
}
.quoteh3 {
	font-size:18px;
	line-height: 1.25em;
}
@media only screen and (max-width: 540px) {
	.quote-container {
		flex-direction:column;
		justify-content: flex-end;
		align-items:center;
		margin:0;
	}
	.quote-block-l, .quote-block-m, .quote-block-r  {
		width:calc(100% - 20px);
		padding:0 10px 10px 10px;
		border-radius:20px;
		margin:0 0 10px 0;
	}
	.separator2 {
		height:0px;
	}
	.quoteh3 {
		font-size:14px;
	}
}
.quote-block-l, .quote-block-r  {
	background-color:#ffffff;
	color:#666666;
}
.quote-block-m  {
	background-color:#333333;
	color:#eeeeee;box-shadow:3px 3px 5px 3px rgba(0, 0, 0, 0.25);
	transform:scale(1.25);
}
@media only screen and (max-width: 540px) {
	.quote-block-m  {
		transform:scale(1.1);
	}
}
.quote-block-l > p > strong, .quote-block-r > p > strong {
	color:#666666;
}
.quote-block-m > p > strong {
	color:#FFFFFF;
}
.quote-block-l > span, .quote-block-m > span, .quote-block-r > span {
	display:block;
	text-align: right;
	color:#07c3e0;
	font-weight:bold;
	font-style:normal;
	margin-top:20px;
}
.quote-block-l img, .quote-block-m img, .quote-block-r img {
	margin-top:20px;
}
@media only screen and (max-width: 540px) {
	.quote-block-l > span, .quote-block-m > span, .quote-block-r > span {
		margin-top:5px;
	}
	.quote-block-l img, .quote-block-m img, .quote-block-r img {
		margin-top:0px;
	}
}

/* problem and solution */
/* tabs */
.tabs {
	position: relative;
	display:flex;
	justify-content: space-between;
	width:100%;
	padding-top:80px;
	margin: 40px auto 0 auto;
}
.tabs > input, .tabs > span {
	width: calc(20% - 40px);
	height: 80px;
	line-height: 1.25em;
	color:#e2baba;
	background-color:#e6e6e6;
	position: absolute;
	top: 0;
	padding:10px 10px 0 10px;
	margin:0 5px;
	border-radius:20px 20px 0 0;
}
.tabs > input, .tabs > span > div.icon {
	font-size:24px;
}
@media only screen and (max-width: 920px) {
	.tabs > input, .tabs > span {
		width: calc(20% - 25px);
		margin:0 2px;
	}
}
@media only screen and (max-width: 540px) {
	.tabs {
		padding-top:40px;
		margin: 0px auto 0 auto;
	}
	.tabs > input, .tabs > span {
		height: 40px;
		border-radius:10px 10px 0 0;
	}
}
.tabs > input {
	cursor: pointer;
	filter: alpha(opacity=0);
	opacity: 0;
	position: absolute;
	z-index: 99;
}
.tab-subtitle {
	font-size:12px;
	font-weight:normal;
}
.tabs > span {
	text-align: center;
	overflow: hidden;
}
.tabs > span i, .tabs > span {
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
		 -o-transition: all .5s;
			transition: all .5s;
}
.tabs > input:hover + span {
}
.tabs > input:checked + span {
	background-color: #ffffff;
	border-radius:20px 20px 0 0;
	color: #c15457;
	font-weight:bold;
}
@media only screen and (max-width: 540px) {
	.tabs > input:checked + span {
		border-radius:10px 10px 0 0;
	}
}
.tabs input:hover + span {
	color: #c15457;
}
#tab-1, #tab-1 + span {
	left: 0;
}
#tab-2, #tab-2 + span {
	left: 20%;
}
#tab-3, #tab-3 + span {
	left: 40%;
}
#tab-4, #tab-4 + span {
	right: 20%;
}
#tab-5, #tab-5 + span {
	right: 0%;
}
.tab-content {
	padding: 0;
	width: 100%;
	position:relative;
}
.tab-content-container {
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	background-color: #ffffff;
	height:50vh;
}
.tab-content-problem, .tab-content-solution {
	display:flex;
	flex-direction:column;
	width:calc(33% - 20px);
	padding:40px 0 0 20px;
}
@media only screen and (max-width: 920px) {
	.tab-content-container {
		flex-direction:column;
		justify-content: flex-start;
		align-items:center;
		height:70vh;
	}
	.tab-content-problem, .tab-content-solution {
		width:calc(100% - 40px);
		padding:20px;
	}
}
@media only screen and (max-width: 540px) {
	.tab-content-container {
		flex-direction:column;
		justify-content: flex-start;
		align-items:center;
		height:70vh;
	}
	.tab-content-problem, .tab-content-solution {
		width:calc(100% - 40px);
		padding:10px 0px;
	}
}
.tab-content-pic {
	position:relative;
	display:flex;
	width:33%;
	padding:0;
}
.tab-content-pic img {
	position:absolute;
	width:80%;
	height:auto;
	right:20px;
	top:40px;
}
@media only screen and (max-width: 920px) {
	.tab-content-pic {
		width:calc(100% - 40px);
		justify-content: center;
	}
	.tab-content-pic img {
		position:relative;
		width:50%;
		right:0;
		top:10px;

	}
}
@media only screen and (max-width: 540px) {
	.tab-content-pic {
		position:relative;
		right:auto;
		bottom:auto;
		width:calc(100% - 40px);
		padding: 20px;
	}
	.tab-content-pic img {
		max-width:100%;
	}
}
.tab-content section {
	width: 100%;
	display: none;
}
.tab-content section h1 {
	margin-top: 15px;
	font-size: 100px;
	font-weight: 100;
	text-align: center;
}
#tab-1:checked ~ .tab-content #tab-item-1  {
	display: block;
}
#tab-2:checked ~ .tab-content #tab-item-2  {
	display: block;
}
#tab-3:checked ~ .tab-content #tab-item-3  {
	display: block;
}
#tab-4:checked ~ .tab-content #tab-item-4  {
	display: block;
}
#tab-5:checked ~ .tab-content #tab-item-5  {
	display: block;
}
/* effect-1 */
.effect-1 > input:checked + span {
	background: #ffffff;
}
/* checkbox */
.check-box {
	display: block;
	position: relative;
	padding-left: 20px;
	margin-bottom: 10px;
	color:#666666;
	cursor: pointer;
	font-size: 12px;
	line-height: 1.25em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* Hide the browser's default checkbox */
.check-box input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 2px;
	left: 0;
	height: 12px;
	width: 12px;
	background-color: #999999;
	border-radius:2px;
}
/* On mouse-over, add a background color */
.container:hover input ~ .checkmark {
	background-color: #06AFC9;
}
/* When the checkbox is checked, add a blue background */
.check-box input:checked ~ .checkmark {
	background-color: #047F92;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
/* Show the checkmark when checked */
.check-box input:checked ~ .checkmark:after {
	display: block;
}
/* Style the checkmark/indicator */
.check-box .checkmark:after {
	left: 0px;
	top: 0px;
	width: 12px;
	height: 12px;
	background-image:url("check-white.svg");
	background-position:center;
	background-repeat: no-repeat;
	background-size:12px 12px;
}
.content-block-w {
	display:inline-block;
	margin:0;
	width:100%;
}

/* slideshow 1 */
.mySlides {
  display: none;
}
/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  margin: auto;
}
/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.little-arrow {
	display:block;
	text-align:center;
	font-size:24px;
	transform:rotate(90deg);
}
@media only screen and (max-width: 920px) {
	.little-arrow {
		font-size:48px;
	}
}
@media only screen and (max-width: 540px) {
	.little-arrow {
		font-size:24px;
	}
}