@charset "UTF-8";
/* CSS Document */
html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Noto Sans';
	font-size:16px;
	color:#666666;
	line-height:1.25em;
	margin:0;
	padding:0;
	background-color:#f2f2f2;
	overflow-x:hidden;
}
@media only screen and (max-width: 540px) {
	body {
		font-size:14px;
		line-height:1.15em;
	}
}
a {
	color:#047F92;
}
a:hover, a:focus {
	color:#ED1C24;
}
.mobile {
	display:none;
}
.desktop {
	display:inline-block;
}
@media only screen and (max-width: 540px) {
	.mobile {
		display:block;
	}
	.desktop {
		display:none;
	}
	.alex {
		text-align:center;
	}
	.alex > img {
		width:50vw;
		height: auto;
	}
}
/* header */
.header {
	display:block;
	width: 100%;
	position: fixed;
	top:0;
	left:0;
	z-index: 1001;
	background-image:linear-gradient(#047f92, transparent);
}
.header-container {
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	position: relative;
	margin: 0 auto;
	padding: 0;
	max-width: 1000px;	
}
.logo {
	display:inline-block;
	padding:32px 0 0 10px;
	transition:all ease 0.3s;
	z-index:10003;
}
.logo img {
	width:auto;
	height:32px;
}
@media only screen and (max-width: 540px) {
	.logo {
		padding:32px 0 0 10px;
	}
	.logo img {
		height:28px;
	}
}
.img-responsive {
	display:inline-block;
	max-height:auto;
	max-width:100%;
}
ul.menu {
	list-style: none;
	display:flex;
	flex-direction:row;
	justify-content: flex-end;
	margin: 0;
	padding:0;
	transition:all ease 0.3s;
}
ul.menu li a {
	display:inline-block;
	margin:40px 24px 0 24px;
	color:#FFFFFF;
	font-size:16px;
	font-weight:bold;
	text-decoration: none;
	cursor: pointer;
	transition:all ease 0.3s;
}
@media only screen and (max-width: 540px) {
	ul.menu {
		display:none;
	}
}
ul.menu li a:hover {
	color:#07deff;
}
ul.menu li a.sandbox {
	display:inline-block;
	padding:10px 20px;
	margin:30px 10px 0 24px;
	background-color:#ffb700;
	border-radius:20px;
	color:#000000;
	font-size:16px;
	font-weight:bold;
	text-decoration: none;
	cursor: pointer;
	transition:all ease 0.3s;
}
ul.menu li a.sandbox:hover {
	color:#043c45;
	background-color:#07deff;
}
.header-bg {
	display:block;
	width:100%;
	height:80px;
	position:fixed;
	top:0;
	left:0;
	background-color:#047f92;
	z-index: 999;
}
@media only screen and (max-width: 768px) {
	.logo {
		padding:20px 0 0 10px;
	}
	ul.menu li a {
		margin:30px 24px 0 24px;
	}
	ul.menu li a.sandbox {
		margin:20px 10px 0 24px;
	}
	.header-bg {
		height:70px;
	}
}
@media only screen and (max-width: 540px) {
	ul.menu li a {
		margin:20px 24px 0 24px;
	}
	ul.menu li a.sandbox {
		margin:10px 10px 0 24px;
	}
	.header-bg {
		height:60px;
	}
}
h1 {
	color:#043c45;
	line-height: 1.25em;
	font-weight:bold;
	font-size:40px;
	margin: 0 0 20px 0;
	font-weight: bold;
}
h2 {
	font-size:24px;
	font-weight:bold;
	line-height: 1.5em;
	margin: 0 0 10px 0;
}
h3 {
	font-weight:bold;
	line-height: 1.5em;
	margin: 0 0 10px 0;
}
@media only screen and (max-width: 540px) {
	h1 {
		font-size:24px;
		line-height:1.15em;
	}
	h2 {
		font-size:20px;
		line-height: 1.15em;
	}
	h3 {
		font-size:16px;
		line-height: 1.15em;
	}
}
.bg-red {
	background-color:#f5e9e9;
}
.bg-blue {
	background-color:#dde9eb;
}
.bg-howto {
	background-color:#c1dee3;
}
.bg-sandbox {
	background-color:#ffb700;
}
.bg-quote {
	background-color:#012b30;
}
.bg-grey {
	background-color:#e6e6e6;
}
.bg-top {
	background-color:#000506;
}
.bg-footer {
	background-color:#033c45;
}
/* the outer most block width 100%, apply background colors to this block */
.module-block {
	display:block;
	position:relative;
	width:100%;
}
.main-container {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
	margin: 0 auto;
	padding: 0;
	max-width: 1000px;
}
@media only screen and (max-width: 920px) {
	.main-container {
		margin: 0 0 0 0;
		padding: 0px 10px;
		/*width:calc(100% - 20px);*/
	}
}
@media only screen and (max-width: 540px) {
	.main-container {
		padding: 0;
		/*width:calc(100% - 20px);*/
	}
}
.content-block-l {
	display:inline-block;
	margin:20px 20px 0px 10px;
	width:calc(60% - 40px);
}
.content-block-r {
	display:inline-block;
	margin:20px 0px 20px 20px;
	width:calc(40% - 20px);
}


@media only screen and (max-width: 920px) {
	.content-block-l {
		margin:20px 10px;
		width:calc(100% - 20px);
	}
	.content-block-r {
		margin:20px 10px;
		width:calc(100% - 20px);
		text-align: center;
	}
	.content-block-r img {
		max-width:75%;
	}
}
ul.list {
	list-style-image: url("img/triangle-bullet.png");
	margin:0;
	padding:0 0 0 15px;
}
ul.list-w {
	list-style-image: url("img/triangle-bullet-white.png");
	margin:0;
	padding:0 0 0 15px;
}
ul.list li, ul.list-w li {
	margin-bottom:10px;
}

.bottom-tab {
	display:inline-block;
	width:20%;
	height:140px;
	text-align: center;
	color:#047f92;
}
.bottom-tab.active {
	background-color:#dde9eb;
	font-weight: bold;
	border-radius:0 0 40px 40px;
}
.bottom-tab > span {
	font-size:36px;
	line-height:2em;
}
.counter-block {
	display:flex;
	flex-direction:column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	padding:20px;
	width:calc(25% - 41px);
	min-height:120px;
	color:#047f92;
}
@media only screen and (max-width: 540px) {
	.counter-block {
		width:calc(50% - 41px);
		min-height:120px;
	}
}
.counter-block h3 {
	font-size:48px;
	font-weight:normal;
	margin:20px 0;
	color:#047f92;
}
.counter-separator-v {
	border-right: 1px solid #047f92;
}
.counter-separator-v2 {
	border-right: 1px solid #047f92;
}
.counter-separator-h {
	border-bottom: none;
}
@media only screen and (max-width: 540px) {
	.counter-separator-v2 {
		border-right: none;
	}
	.counter-separator-h {
		border-bottom: 1px solid #047f92;
	}
}
input.sandbox-input {
	display:block;
	width:calc(70% - 40px);
	padding:10px 20px;
	background-color:#FFFFFF;
	border-radius:10px;
	border:1px solid #FFFFFF;
	font-size:18px;
	font-weight: normal;
}
span.disclaimer {
	display:block;
	width:70%;
	font-size:10px;
	line-height:1.25em;
}
a.btn-submit {
	display:inline-block;
	font-size:18px;
	line-height:40px;
	font-weight:bold;
	color:#047f92;
	text-decoration:none;
	height:40px;
	width:auto;
	padding:0 40px;
	background-color:#FFFFFF;
	border-radius:20px;
	transition:all ease 0.3s;
	cursor: pointer;
}
a.btn-blue {
	display:inline-block;
	font-size:18px;
	line-height:40px;
	font-weight:bold;
	color:#FFFFFF;
	text-decoration:none;
	height:40px;
	width:auto;
	padding:0 40px;
	background-color:#047f92;
	border-radius:20px;
	transition:all ease 0.3s;
	cursor: pointer;
}
a.btn-submit:hover, a.btn-blue:hover {
	color:#FFFFFF;
	background-color:#07deff;
}
/* video box */
.video-box {
	position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
img.scoreboard-img {
	position:absolute;
}
/* footer */
.footer {
	display:block;
	position:relative;
	background-color: #033C45;
	padding:0 10px;
	color:#047F92;
	font-size: 12px;
	line-height: 20px;
	z-index: 999;
}
.footer > .footer-copy > span.ht-logo {
	display:inline-block;
	font-size:24px;
	vertical-align: middle;
	margin-right: 5px;
}
@media only screen and (max-width: 540px) {
	.footer > .footer-copy > span.ht-logo {
		display:none;
	}
}
.footer a {
	color:#047F92;
	text-decoration: none;
	font-weight:bold;
	transition: all 0.3s ease;
}
.footer-copy, .footer-links, .footer-social {
	display:inline-block;
	margin:0 0 10px 0;
}
@media only screen and (max-width: 540px) {
	.footer-copy, .footer-links, .footer-social {
		width:100%;
		text-align: center;
	}
	.footer-links {
		font-size:11px;
	}
}
.footer a.social {
	color:#047F92;
	font-size:18px;
	vertical-align: middle;
	text-decoration: none;
	padding:0 10px;
	transition: all 0.3s ease;
}
.footer a:hover, .footer a.social:hover {
	color:#FFFFFF;
}
.footer > .footer-links > span.separator {
	display:inline-block;
	padding:0 10px;
}
.footer p.disclaimer {
	font-size:10px;
	line-height: 1.25em;
	color:#047F92;
	margin-top:20px;
}
@media only screen and (max-width: 540px) {
	.footer > .footer-links > span.separator {
		padding:0 2px;
	}
	.footer p.disclaimer {
		text-align: center;
	}
}
/* infinite logo slide */
@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 5));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 5));
  }
}
.slider {
  height: 200px;
  overflow: visible;
  position: relative;
  width: 100%;
	padding-bottom:60px;
}
@media only screen and (max-width: 920px) {
	.slider {
		padding-bottom:60px;
		margin-top:50px;
	}
}
/*.slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}*/
.slider .slide-track {
  -webkit-animation: scroll 30s linear infinite;
          animation: scroll 30s linear infinite;
  display: flex;
  width: calc(300px * 10);
}
.slider .slide {
	display:inline-block;
	text-align:center;
	width: 300px;
	margin:0 20px;
	font-weight:bold;
	line-height:20px;
	color:#9e8337;
}
.slider .slide img {
	width:120px;
	height:120px;
	margin-bottom:10px;
}
.slider .slide.forex {
	color:#047f92;
}
/* viewport fade in */
.wrapper {
  width: 100%;
  margin: 0;
}
.elem {
	
}
.to-fade-in {
  opacity: 0;
  &.fade-in {
    animation: fade-in 3s forwards;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* diagram animation */
.diagram-container {
	height:calc(100vh - 160px); 
	position:relative; 
	width:100%;
}
@media only screen and (max-width: 920px) {
	.diagram-container {
		margin-top:100px;
		height:600px; 
	}
}
@media only screen and (max-width: 540px) {
	.diagram-container {
		height:300px; 
		transform:scale(1.25);
	}
}
img.diagram-step1, img.diagram-step2, img.diagram-step3, img.diagram-step4, img.diagram-step5, img.diagram-step6, img.diagram-step7 {
	position:absolute;
	left:calc(50% - 370px);
	top:0px;
	width:740px;
	opacity: 0;
}
@media only screen and (max-width: 739px) {
	img.diagram-step1, img.diagram-step2, img.diagram-step3, img.diagram-step4, img.diagram-step5, img.diagram-step6, img.diagram-step7 {
		left:0px;
		width:100%;
	}
}
.diagram-step1-animation, .diagram-step2-animation, .diagram-step3-animation, .diagram-step4-animation, .diagram-step5-animation, .diagram-step6-animation, .diagram-step7-animation {
	animation-duration:5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	transition: 0.3s ease-out;
}
.diagram-step1-animation {
	animation-name: diagram-step1;
}
.diagram-step2-animation {
	animation-name: diagram-step2;
}
.diagram-step3-animation {
	animation-name: diagram-step3;
}
.diagram-step4-animation {
	animation-name: diagram-step4;
}
.diagram-step5-animation {
	animation-name: diagram-step5;
}
.diagram-step6-animation {
	animation-name: diagram-step6;
}
.diagram-step7-animation {
	animation-name: diagram-step7;
}
@keyframes diagram-step1 {
	/*5%   {top: 0px; opacity: 0;}*/
	0%   {top: 0px; opacity: 1;}
	100%  {top: 0px; opacity: 1;}
}
@keyframes diagram-step2 {
	5%  {top: -20px; left:calc(50% - 430px); opacity: 0;}
	15%  {top: 0px; left:calc(50% - 370px); opacity: 1;}
	100% {top: 0px; left:calc(50% - 370px); opacity: 1;}
}
@keyframes diagram-step3 {
	15%   {top: -20px; opacity: 0;}
	25%   {top: 0px; opacity: 1;}
	100%  {top: 0px; opacity: 1;}
}
@keyframes diagram-step4 {
	25%   {top: 0px; opacity: 0;}
	35%   {top: 0px; opacity: 1;}
	100%  {top: 0px; opacity: 1;}
}
@keyframes diagram-step5 {
	35%   {top: 20px; left:calc(50% - 430px); opacity: 0;}
	45%   {top: 0px; left:calc(50% - 370px); opacity: 1;}
	100%  {top: 0px; left:calc(50% - 370px); opacity: 1;}
}
@keyframes diagram-step6 {
	45%  {top: 20px; left:calc(50% - 330px); opacity: 0;}
	55%  {top: 0px; left:calc(50% - 370px); opacity: 1;}
	100% {top: 0px; left:calc(50% - 370px); opacity: 1;}
}
@keyframes diagram-step7 {
	55%  {top: 0px; opacity: 0;}
	65%  {top: 0px; opacity: 1;}
	100% {top: 0px; opacity: 1;}
}

@media only screen and (max-width: 540px) {
	@keyframes diagram-step1 {
		/*5%   {top: 0px; opacity: 0;}*/
		0%   {top: 0px; opacity: 1;}
		100%  {top: 0px; opacity: 1;}
	}
	@keyframes diagram-step2 {
		5%  {top: -20px; left:-20px; opacity: 0;}
		15%  {top: 0px; left:0px; opacity: 1;}
		100% {top: 0px; left:0px; opacity: 1;}
	}
	@keyframes diagram-step3 {
		15%   {top: -20px; opacity: 0;}
		25%   {top: 0px; opacity: 1;}
		100%  {top: 0px; opacity: 1;}
	}
	@keyframes diagram-step4 {
		25%   {top: 20px; left:0px; opacity: 0;}
		35%   {top: 0px; left:0px; opacity: 1;}
		100%  {top: 0px; left:0px; opacity: 1;}
	}
	@keyframes diagram-step5 {
		35%   {top: 20px; left:-20px; opacity: 0;}
		45%   {top: 0px; left:0px; opacity: 1;}
		100%  {top: 0px; left:0px; opacity: 1;}
	}
	@keyframes diagram-step6 {
		45%  {top: -20px; left:-20px; opacity: 0;}
		55%  {top: 0px; left:0px; opacity: 1;}
		100% {top: 0px; left:0px; opacity: 1;}
	}
	@keyframes diagram-step7 {
		55%  {top: 0px; opacity: 0;}
		65%  {top: 0px; opacity: 1;}
		100% {top: 0px; opacity: 1;}
	}
}

sup.comingsoon {
	display:inline-block;
	padding:4px 12px;
	border-radius:16px;
	background-color:yellow;
	color:black;
	font-size:12px;
	line-height: 1em;
	font-weight: bold;
	text-align: center;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	/*transform: rotate(10deg);*/
}
/* famous quote */

/* sandbox for mobile */
a.sandbox-block {
	display:flex;
	width:100%;
	justify-content:center;
	align-items:center;
	background-color:#ffb700;
	color:#000000;
	font-size:18px;
	font-weight:bold;
	text-decoration:none;
	padding:20px 0;
	transition:all ease 0.3s;
}