@charset "UTF-8";
/* CSS Document */
#loading {
  width: 40px;
  height: 40px;
  position: relative;
}

.outer-shadow, .inner-shadow {
  z-index: 4;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.inner-shadow {
  top: 50%;
  left: 50%;
  width: 28px;
  height: 28px;
  margin-left: -14px;
  margin-top: -14px;
  border-radius: 100%;
  background-color: #4d4d4d;
}
.hold {
  position: absolute;
  width: 100%;
  height: 100%;
  clip: rect(0px, 40px, 40px, 20px);
  border-radius: 100%;
  background-color: #666666;
}

.fill, .dot span 
{
  background-color: #edc45c;
}

.fill 
{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  clip: rect(0px, 20px, 40px, 0px);
}

.left .fill 
{
  z-index: 1;
  -webkit-animation: left 1s linear ;
  -moz-animation: left 1s linear ;
  animation: left 1s linear both;  
}

@keyframes left 
{
    0%{-webkit-transform:rotate(0deg);}
    100%{transform:rotate(180deg);}
}

@-webkit-keyframes left 
{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(180deg);}
}

.right 
{
  z-index: 3;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.right .fill 
{  
   z-index: 3;
  -webkit-animation: right 1s linear ;
  -moz-animation: right 1s linear ;
  animation: right 1s linear both ;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

#loading {
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes right 
{
    0%{-webkit-transform:rotate(0deg);}
    100%{transform:rotate(180deg);}
}

@-webkit-keyframes right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.inner-shadow img
{
    margin-left: 17px;margin-top: 15px;
}