@charset "UTF-8";
/* CSS Document */
.score-header {
	display: flex;
    position: relative;
	justify-content: space-between;
	align-items: center;
    background-color: transparent;
    color: #033C45;
    font-size: 14px;
    font-weight: bold;
	padding:0;
	margin:0 0 10px 0;
    border-radius: 10px;
}
a.score-box {
	display:flex;
	position:relative;
	flex-direction:row;
	justify-content: space-between;
	align-items: flex-start;
	background-color: #00333B;
	border-radius:20px;
	padding:0;
	height:120px;
	margin-bottom:30px;
	text-decoration:none;
}
@media only screen and (max-width: 820px) {
	a.score-box {
		margin-bottom:20px;
	}
}
@media only screen and (max-width: 480px) {
	a.score-box {
		height:240px;
		margin-bottom:10px;
		flex-wrap: wrap;
	}
}
a.score-box:hover {
	background-color: #001D21;
}
.score-your-bg {
	background-color: #333333 !important;
}
.score-your-bg:hover {
	background-color: #001D21 !important;
}
.score-rank {
	display:flex;
	flex-direction:column;
	justify-content: center;
	height:120px;
	min-width:80px;
	width:10%;
	font-size:24px;
	line-height:32px;
	font-weight:bold;
	text-align:center;
	color:#06AFC9;
}
@media only screen and (max-width: 480px) {
	.score-rank {
		height:100px;
	}
}
.score-rank span.up {
	font-size:36px;
	color:#56A07E;
}
.score-rank span.down {
	font-size:36px;
	color:#C15357;
}
.score-rank span.stay {
	font-size:36px;
	color:#666666;
}
.score-profile-pic {
	display:flex;
	justify-content: flex-start;
	align-items:center;
	height:120px;
	min-width:80px;
	width:10%;
}
@media only screen and (max-width: 480px) {
	.score-profile-pic {
		height:100px;
	}
}
.score-profile-pic img {
	width:72px;
	height:72px;
	border-radius:50%;
}
.score-acc-info {
	display:flex;
	position:relative;
	flex-direction:column;
	justify-content: center;
	align-items:flex-start;
	height:120px;
	width:25%;
	color:#FFFFFF;
}
@media only screen and (max-width: 820px) {
	.score-acc-info {
	}
}
@media only screen and (max-width: 480px) {
	.score-acc-info {
		height:100px;
		width:80%;
		max-width:calc(100% - 160px);
	}
}
.score-acc-info-bookmark {
	position:absolute;
	right:0;
	top:-9px;
	font-size:48px;
	cursor:pointer;
}
.followed {
	color:#C15357;
}
.unfollowed {
	color:#4D4D4D;
}
.score-info-icons {
	font-size:12px;
	color: #06AFC9;
}
.score-info-icons span {
	font-size:24px;
	vertical-align: middle;
}
.score-acc-type-live, .score-acc-type-demo {
	display:inline-block;
	margin-top:5px;
	margin-right:5px;
	padding:1px 2px;
	border-radius:3px;
	font-size:12px;
	line-height: 1em;
	color:#00333B;
}
.score-acc-type-live {
	background-color: #00FF00;
}
.score-acc-type-demo {
	background-color: #06AFC9;
}
.score-data-group {
	display:flex;
	position:relative;
	flex-direction:row;
	justify-content: space-between;
	height:120px;
	width:39%;
	border-left:1px dotted #06AFC9;
	border-top:none;
}
.score-data-box {
	display:flex;
	position:relative;
	flex-direction:column;
	justify-content: flex-start;
	align-items:flex-start;
	height:120px;
	width:33%;
	border-right:1px dotted #06AFC9;
	padding:0 10px;
}
.score-data-title {
	font-size:14px;
	color:#06AFC9;
	margin:25px 0 10px;
}
.performance-data {
	display:flex;
	flex-direction:column;
}
.score-data {
	font-size:16px;
	font-weight:bold;
	margin-right:10px;
}
@media only screen and (max-width: 820px) {
	.score-data-group {
		flex-direction:column;
		justify-content: center;
		width:30%;
		border-left:1px dotted #06AFC9;
	}
	.score-data-box {
		height:35px;
		width:100%;
		border-right:none;
	}
	.score-data-title {
		font-size:12px;
		margin:0;
	}
	.performance-data {
		flex-direction:row;
	}
	.score-data {
		font-size:14px;
		line-height:1em;
		font-weight:bold;
	}
}
@media only screen and (max-width: 480px) {
	.score-data-group {
		width:50%;
		border-left:none;
		border-top:1px dotted #06AFC9;
	}
}
.score-chart-box {
	display:flex;
	position:relative;
	height:100px;
	width:auto;
	border-left:none;
	border-top:none;
	padding:10px 30px 10px 10px;
}
@media only screen and (max-width: 820px) {
	.score-chart-box {
		border-left:1px dotted #06AFC9;
	}
}
@media only screen and (max-width: 480px) {
	.score-chart-box {
		width:calc(50% - 40px);
		border-left:none;
		border-top:1px dotted #06AFC9;
	}
}
.score-chart-timeframe {
	position:absolute;
	font-size:18px;
	font-weight: bold;
	color:#06AFC9;
	right:10px;
	bottom:10px;
}
.filter-box {
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom:20px;
}
@media only screen and (max-width: 480px) {
	.filter-box {
		margin-bottom:10px;
	}
}
.filter-item {
	display:inline-block;
	position:relative;
	padding:4px 20px 4px 4px;
	margin:0 5px 5px 0;
	border-radius:4px;
	background-color:#FFFFFF;
	font-size:12px;
	line-height: 1em;
	color:#06AFC9;
}
.filter-item span {
	position:absolute;
	font-size:20px;
	color:#ED1C24;
	right:0px;
	top:0px;
	cursor:pointer;
}