@charset "UTF-8";
/* CSS Document */
/* slideshow 1 */
.mySlides, .myslides2 {
  /*display: none;*/
}
/* Slideshow container */
.slideshow1-container {
	position:relative;
	display:flex;
	justify-content: center;
	align-items: flex-start;
	margin-top: 100px;
    height: calc(100vh - 350px);
	width:100%;
}
@media only screen and (max-width: 540px) {
	.slideshow1-container {
		height:auto;
	}
}
.slideshow2-container {
	position:relative;
	display:flex;
	justify-content: center;
	align-items: flex-start;
	margin-top:20px;
    height: calc(100vh - 370px);
	width:100%;
}
.slide-content-box {
	display:flex;
	flex-direction:column;
	justify-content: flex-start;
	align-items:center;
	width:100%;
	max-width:1000px;
	  height: calc(100vh - 310px);
	overflow-y:hidden;
}
@media only screen and (max-width: 920px) {
	.slide-content-box {
		width:90vw;
		justify-content: space-around;
	}
}
@media only screen and (max-width: 540px) {
	.slide-content-box {
		width:80vw;
		justify-content: space-between;
		margin-top:0px;
		padding-bottom:80px;
		height: calc(100vh - 400px);
	}
}
.slide-content-box2 {
	display:flex;
	flex-direction:column;
	justify-content: flex-start;
	align-items:center;
	width:100%;
	  height: calc(100vh - 420px);
	overflow:hidden;
}
.slide-content-split {
	display:flex;
	flex-direction:row;
	justify-content: space-between;
}
.slide-content-l, .slide-content-r {
	display:flex;
	flex-direction:column;
	justify-content: center;
	height: calc(100vh - 420px);
	overflow-y:hidden;
	overflow-x:hidden;
}
.slide-content-l {
	width:45%;
}
.slide-content-r {
	width:52%;
	align-items: center;
}
@media only screen and (max-width: 920px) {
	.slide-content-split {
		flex-direction:column;
		justify-content:flex-start;
	}
	.slide-content-l, .slide-content-r {
		height: auto;
	}
	.slide-content-l {
		width:100%;
	}
	.slide-content-r {
		width:100%;
		align-items: center;
	}
}
.slide-content-box h2 {
	position:relative;
	margin-bottom:40px;
	padding:10px 0 0 70px;
}
.slide-content-split > div > h2 {
	position:relative;
	line-height:1.25em;
	margin:20px 0;
	padding:0;
	color:#047f92;
}
@media only screen and (max-width: 540px) {
	.slide-content-box h2 {
		font-size:95%;
		line-height: 1.25em;
		margin-bottom:10px;
		padding:50px 0 0 0px;
	}
	.slide-content-split > div > h2 {
		font-size:95%;
	}
}
.hl-text {
	font-size:150%;
	color:#07c3e0;
	text-shadow: 0px 0px 4px rgba(255, 255, 255, 1.0);
}
.slide1-bottom-bar {
	position:absolute;
	width:100%;
	left:0;
	bottom:0;
	display:flex;
	padding:10px;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	background-color:#e6e6e6;
}
@media only screen and (max-width: 920px) {
	.slide1-bottom-bar {
		width:calc(100% - 20px);
		padding:30px 10px;
	}
}
@media only screen and (max-width: 540px) {
	.slide1-bottom-bar {
		padding:20px 10px 120px 10px;
	}
}

.slide1-bottom-text {
	font-size:12px;
	line-height: 16px;
	padding:2px 10px;
	background-color:#ffffff;
	height:16px;
	border-radius:10px;
}
.slide1-bottom-line {
	height:2px;
	width:10%;
	background-color: #ffffff;
}
@media only screen and (max-width: 540px) {
	.slide1-bottom-text {
		padding:2px 5px;
	}
	.slide1-bottom-line {
		width:5%;
	}
}

.slide-content-split > div > h3 {
	position:relative;
	margin:0;
	padding:0;
}
.slide-content-box h2 > span {
	position:absolute;
	left:0px;
	top:0px;
	width:60px;
	height:60px;
	border-radius:50%;
	background-color:#ffffff;
	color:#0baeca;
	font-size:40px;
	line-height:60px;
	text-align:center;
}
.slide-content-box img {
	width:auto;
	max-width:800px;
}
@media only screen and (max-width: 920px) {
	.slide-content-box img {
		width:calc(100% - 40px);
		max-width:calc(100% - 40px);
	}
}
@media only screen and (max-width: 540px) {
	.slide-content-box h2 > span {
		width:40px;
		height:40px;
		font-size:30px;
		line-height:40px;
	}
	.slide-content-box img {
		position:relative;
		bottom:0px;
		width:calc(100% - 0px);
		max-width:calc(100% - 0px);
	}
}
.slide-content-split > div > img {
	width:100%;
}
/* The dots/bullets/indicators */
.dot-container {
	position:absolute;
	top:-80px;
	left:0;
	display:flex;
	justify-content: flex-start;
	align-items: stretch;
}
.slide-dot {
	padding:5px 0;
	height:30px;
	width:auto;
	font-size:20px;
	line-height:30px;
	font-weight: bold;
	color:#999999;
  margin: 0 50px 0 0;
  border-bottom:10px solid #e6e6e6;
  transition: border-bottom 0.3s ease;
}
.active {
	background-color:transparent;
	border-bottom:10px solid #ffffff;
	color:#047f92;
}
@media only screen and (max-width: 540px) {
	.slide-dot {
		font-size:18px;
		line-height:30px;
	  margin: 0 20px 0 0;
		border-bottom:6px solid #e6e6e6;
	}
	.active {
		border-bottom:6px solid #ffffff;
	}
}

/* slide 2 */
.dot-container-2 {
	position:absolute;
	bottom:0;
	right:17%;
	display:flex;
	justify-content:center;
	align-items: center;
	width:20%;
}
@media only screen and (max-width: 920px) {
	.dot-container-2 {
		bottom:40px;
		right:0%;
		width:100%;
	}
}
.slide-dot-2 {
	padding:0;
	height:12px;
	width:12px;
	background-color:#e6e6e6;
  margin: 0 6px;
	border-radius:50%;
  transition: background-color 0.3s ease;
}

.active2 {
	background-color:#047f92;
	transform: scale(1.25);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* Fading up animation */
.fade2 {
  -webkit-animation-name: fade2;
  -webkit-animation-duration: 1.5s;
  animation-name: fade2;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade2 {
  from {
    opacity: 0.4;
	  transform: translatey(40%);
  }

  to {
    opacity: 1;
	  transform: translatey(0%);
  }
}

@keyframes fade2 {
  from {
    opacity: 0.4;
	  transform: translatey(40%);
  }

  to {
    opacity: 1;
	  transform: translatey(0%);
  }
}

/* Fading left animation */
.fade3 {
  -webkit-animation-name: fade3;
  -webkit-animation-duration: 1s;
  animation-name: fade3;
  animation-duration: 1s;
}

@-webkit-keyframes fade3 {
  from {
    opacity: 0;
	  transform: translatex(-20%);
  }

  to {
    opacity: 1;
	  transform: translatex(0%);
  }
}

@keyframes fade3 {
  from {
    opacity: 0;
	  transform: translatex(-20%);
  }

  to {
    opacity: 1;
	  transform: translatex(0%);
  }
}

/* Fading right animation */
.fade4 {
  -webkit-animation-name: fade4;
  -webkit-animation-duration: 1s;
  animation-name: fade4;
  animation-duration: 1s;
}

@-webkit-keyframes fade4 {
  from {
    opacity: 0;
	  transform: translatex(20%);
  }

  to {
    opacity: 1;
	  transform: translatex(0%);
  }
}

@keyframes fade4 {
  from {
    opacity: 0;
	  transform: translatex(20%);
  }

  to {
    opacity: 1;
	  transform: translatex(0%);
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
	display:flex;
	
	align-items:center;
  top: 10px;
  width: 40px;
  height:80px;
  padding: 0;
  color: white;
  font-size: 32px;
  transition: all 0.3s ease;
  user-select: none;
	background-color:rgba(100, 100, 100, 0.25);
}

/* Position the "next button" to the right */
.prev {
  left: -5vw;
	justify-content: flex-start;
  border-radius:0 40px 40px 0;
}
.next {
  right: -5vw;
	justify-content: flex-end;
  border-radius:40px 0 0 40px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color:#07c3e0;
	color:#ffffff;
}
@media only screen and (max-width: 920px) {
	.prev,
	.next {
	  top:25vh;
	}
	.prev {
	  left: -20px;
	}
	.next {
	  right: -20px;
	}
}
/* slide 2 */
.prev-2,
.next-2 {
  cursor: pointer;
  position: absolute;
	display:flex;
	justify-content: center;
	align-items:center;
  bottom: -13px;
  width: 40px;
  height:40px;
  padding: 0;
  color: white;
  font-size: 24px;
	border-radius:50%;
  transition: all 0.3s ease;
  user-select: none;
	background-color:rgba(100, 100, 100, 0.25);
}

.prev-2 {
  right:calc(37% + 0px);
}
.next-2 {
  right: calc(17% - 40px);
}

/* On hover, add a black background color with a little bit see-through */
.prev-2:hover,
.next-2:hover {
  background-color:#07c3e0;
	color:#ffffff;
}
@media only screen and (max-width: 920px) {
	.prev-2,
	.next-2 {
	  bottom: 25px;
	}
	.prev-2 {
	  right:calc(65% + 0px);
	}
	.next-2 {
	  right: calc(35% - 40px);
	}
}
@media only screen and (max-width: 540px) {
	.prev-2 {
	  right:calc(80% + 0px);
	}
	.next-2 {
	  right: calc(20% - 40px);
	}
}

.reg-btn-box {
	position:absolute;
	left:0;
	bottom:0;
}
@media only screen and (max-width: 920px) {
	.reg-btn-box {
		position:relative;
	}
}