@charset "UTF-8";
/* CSS Document */
/* table for desktop */
.medic-report-section {
	display:flex;
	justify-content: space-between;
	align-items: center;
	background-color: #06AFC9;
    min-height: 40px;
    padding: 0 10px;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
}
.medic-report-section > div > span, .accordion > div > span {
	font-size:22px;
	vertical-align:text-bottom;
}
.general-info-header > div > span {
	font-size:28px;
	vertical-align:middle;
}
.medic-report-top {
	display:flex;
	position:relative;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content:space-between;
	align-items:stretch;
	background: rgb(13,107,117);
    background: linear-gradient(180deg, rgba(13,107,117,1) 39%, rgba(6,175,201,1) 100%);
	padding:0 20px 30px 20px;
}
.top-report-box {
	display:flex;
	position:relative;
	flex-direction: column;
	align-items: stretch;
	width:calc(50% - 10px);
	min-height:200px;
	background-color:#e6e6e6;
	border-radius:20px;
	margin:0 0 20px 0;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	transition: all ease 0.5s;
}
.top-report-box:hover {
	transform: scale(1.05);
	background-color: #FFFFFF;
}
@media only screen and (max-width: 540px) {
	.medic-report-top {
		flex-direction:column;
		justify-content:center;
		align-items:stretch;
		padding:0 10px 30px 10px;
	}
	.top-report-box {
		width:100%;
		margin:0 0 10px 0;
	}
}
.top-report-box-header {
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	align-items: center;
    min-height: 40px;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
	border-bottom:2px dotted #06AFC9;
}
.top-report-box-body {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
    padding:10px 10px 30px 10px;
}

ul.medic-report {
	list-style: none;
	font-size:12px;
	line-height: 1.25em;
	margin:0;
	padding:0;
	background-color:#e6e6e6;
}
ul.medic-report li {
	display:flex;
	position: relative;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	transition: all 0.3s ease;
}
ul.medic-report li:nth-child(even) {
	background-color:#efefef;
}
.column-issue, .column-severity, .column-effect, .column-info, .column-risk-ico, .column-risk, .column-issue-area, .column-improvement, .column-donut, .column-info-chart {
	display:flex;
	position:relative;
	padding: 20px 10px;
	align-items:center;
}
.column-issue {
	width:calc(30% - 20px);
	text-align: left;
}
.column-severity {
	width:calc(15% - 20px);
	text-align: center;
}
.column-effect {
	width:calc(23% - 20px);
	text-align: center;
}
.column-info, .column-risk-ico {
	width:calc(15% - 20px);
	text-align: right;
	justify-content:flex-end;
}
.column-risk {
	width:calc(38% - 20px);
	text-align: left;
}
/*columns for improvement tracker*/
.column-issue-area {
	width:calc(14% - 20px);
	text-align: left;
}
.column-improvement {
	width:calc(18% - 20px);
	text-align: center;
}
.column-donut {
	width:calc(30% - 20px);
	text-align: center;
}
.column-info-chart {
	width:calc(8% - 20px);
	text-align: right;
	justify-content:flex-end;
}
@media only screen and (max-width: 540px) {
	.column-issue {
		width:calc(26% - 20px);
	}
	.column-severity {
		width:calc(18% - 20px);
	}
}
/* high low pip bar */
.sev-bar {
	display:inline-block;
	position:relative;
	width:100%;
	height:8px;
	border:2px solid #ffffff;
	border-radius:6px;
	background: rgb(38,255,0);
    background: linear-gradient(90deg, rgba(38,255,0,1) 0%, rgba(255,220,0,1) 13%, rgba(255,160,0,1) 40%, rgba(255,0,0,1) 70%, rgba(121,24,24,1) 96%);
}
div.sev-bar-dot {
	position:absolute;
	width:8px;
	height:8px;
	top:-4px;
	padding:0;
	margin:0;
	border:4px solid #FFFFFF;
	border-radius:50%;
	box-shadow: 1px 1px 3px rgb(0 0 0 / 0.5);
	z-index: 801;
}
.severity-text {
	font-size:18px;
	line-height: 1.25em;
	font-weight: normal;
	margin:20px 0 10px;
	text-align: center;
}
.perf-effect-text {
	font-size:40px;
	line-height: 1em;
	font-weight: bold;
	margin:0 0 40px 0;
	text-align: center;
}
.perf-effect-text span {
	font-size:18px;
	color:#333333;
}
.sev-bar-top {
	display:inline-block;
	position:relative;
	width:50%;
	height:20px;
	border:4px solid #ffffff;
	border-radius:14px;
	background: rgb(38,255,0);
    background: linear-gradient(90deg, rgba(38,255,0,1) 0%, rgba(255,220,0,1) 13%, rgba(255,160,0,1) 40%, rgba(255,0,0,1) 70%, rgba(121,24,24,1) 96%);
}
div.sev-bar-dot-top {
	position:absolute;
	width:16px;
	height:16px;
	padding:0;
	margin:2px;
	background-color:#ffffff;
	border-radius:50%;
	box-shadow: 1px 1px 3px rgb(0 0 0 / 0.5);
	z-index: 801;
}
a.btn-top-info {
	display:flex;
	align-items:center;
	height:24px;
	line-height: 24px;
	background-color:#047F92;
	color:#ffffff;
	font-weight:bold;
	padding:0 10px;
	border-radius:12px;
	transition:all ease 0.3s;
	cursor:pointer;
	font-size:12px;
}
a.btn-top-info:hover {
	background-color:#06AFC9;
}
a.btn-top-info span {
	font-size:18px;
	margin-right:5px;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	cursor: pointer;
	display:flex;
	justify-content: space-between;
	align-items: center;
	background-color: #06AFC9;
    min-height: 40px;
    padding: 0 10px;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
	width:100%;
	border:none;
	transition: all ease 0.3s;
}
.accordion:hover {
	background-color:#033C45;
}
.panel {
	padding: 0px;
	max-height: 0;
	overflow: hidden;
	transition: all 0.5s ease-out;
	margin-bottom:4px;
}
.risk-ico-po {
	font-size:36px;
	color:#009245;
}
.risk-ico-ng {
	font-size:36px;
	color:#C1272D;
}
.larger-font {
	font-size: larger;
	font-weight: bold;
}
@media only screen and (max-width: 540px) {
	.larger-font {
		font-size: 12px;
	}
}
.overall-score-box {
	display:flex;
	flex-direction:column;
	padding:20px;
	background-color: #cccccc;
}
.overall-score {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}
.overall-score-item {
	display:flex;
	position:relative;
	flex-direction:column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	border-radius:10px;
	padding:10px 15px;
	width:calc(25%- 30px);
	background-color: transparent;
	cursor: default;
	transition:all ease 0.3s;
}
.overall-score-item:hover {
	transform: scale(120%);
	background-color: #ffffff;
}
.overall-score-item h4 {
	margin:0 0 10px 0;
}