@charset "UTF-8";
/* CSS Document */
/* table for desktop */
.medic-report-section {
	display:flex;
	justify-content: space-between;
	align-items: center;
	background-color: #06AFC9;
    min-height: 40px;
    padding: 0 10px;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
}
.medic-report-section > div > span, .accordion > div > span {
	font-size:22px;
	vertical-align:text-bottom;
}
.general-info-header > div > span {
	font-size:28px;
	vertical-align:middle;
}
.medic-report-top {
	display:flex;
	position:relative;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content:space-between;
	align-items:stretch;
	background: rgb(13,107,117);
    background: linear-gradient(180deg, rgba(13,107,117,1) 39%, rgba(6,175,201,1) 100%);
	padding:0 20px 30px 20px;
}
.top-report-box {
	display:flex;
	position:relative;
	flex-direction: column;
	align-items: stretch;
	width:calc(50% - 10px);
	min-height:200px;
	background-color:#e6e6e6;
	border-radius:20px;
	margin:0 0 20px 0;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	transition: all ease 0.5s;
}
.top-report-box:hover {
	transform: scale(1.05);
	background-color: #FFFFFF;
}
@media only screen and (max-width: 540px) {
	.medic-report-top {
		flex-direction:column;
		justify-content:center;
		align-items:stretch;
		padding:0 10px 30px 10px;
	}
	.top-report-box {
		width:100%;
		margin:0 0 10px 0;
	}
}
.top-report-box-header {
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	align-items: center;
    min-height: 40px;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
	border-bottom:2px dotted #06AFC9;
}
.top-report-box-body {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
    padding:10px 10px 30px 10px;
}

ul.medic-report {
	list-style: none;
	font-size:12px;
	line-height: 1.25em;
	margin:0;
	padding:0;
	background-color:#e6e6e6;
}
ul.medic-report li {
	display:flex;
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	transition: all 0.3s ease;
}
ul.medic-report li:nth-child(even) {
	background-color:#efefef;
}
.column-issue, .column-severity, .column-effect, .column-info, .column-risk-ico, .column-risk {
	display:flex;
	position:relative;
	padding: 20px 10px;
	align-items:center;
}
.column-issue-area, .column-improvement, .column-donut {
	display:flex;
	flex-direction:column;
	position:relative;
	padding: 20px 10px;
	align-items:flex-start;
	justify-content: center;
}
.column-info-chart {
	display:flex;
	flex-direction:column;
	position:relative;
	padding: 20px 10px;
	align-items:flex-end;
	justify-content: center;
}

.column-issue {
	width:calc(30% - 20px);
	text-align: left;
}
.column-severity {
	width:calc(15% - 20px);
	text-align: center;
}
.column-effect {
	width:calc(23% - 20px);
	text-align: center;
}
.column-info, .column-risk-ico {
	width:calc(15% - 20px);
	text-align: right;
	justify-content:flex-end;
}
.column-risk {
	width:calc(38% - 20px);
	text-align: left;
}
/*columns for improvement tracker*/
.column-issue-area {
	width:calc(14% - 20px);
	text-align: left;
}
.column-improvement {
	width:calc(18% - 20px);
	text-align: center;
}
.column-donut {
	width:calc(30% - 20px);
	text-align: center;
}
.column-info-chart {
	width:calc(8% - 20px);
	text-align: right;
}
.column-custom {
	display:flex;
	flex-direction:row;
	position:relative;
	padding: 20px 10px 0 10px;
	align-items:center;
	justify-content:flex-start;
	width:calc(100% - 20px);
}
@media only screen and (max-width: 540px) {
	.column-issue {
		width:calc(26% - 20px);
	}
	.column-severity {
		width:calc(18% - 20px);
	}
}
@media only screen and (max-width: 920px) {
	.column-issue-area {
		width:calc(100% - 20px);
		flex-direction: row;
		justify-content: flex-start;
		border-bottom:1px dotted #cccccc;
	}
	.column-improvement {
		width:calc(20% - 20px);
		justify-content: flex-start;
		align-items: flex-start;
	}
	.column-donut {
		width:calc(40% - 20px);
		justify-content: flex-start;
		align-items: flex-start;
	}
	.column-info-chart {
		width:calc(100% - 20px);
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		text-align: right;
		padding-top:0px;
		border-top:1px dotted #cccccc;
	}
}
@media only screen and (max-width: 540px) {
	.column-improvement {
		width:calc(100% - 20px);
		align-items: center;
	}
	.column-donut {
		width:calc(100% - 20px);
		align-items: center;
	}
	.column-custom {
		flex-direction:column;
		align-items:flex-start;
		justify-content:flex-start;
		width:calc(100% - 20px);
	}
}

/* high low pip bar */
.sev-bar {
	display:inline-block;
	position:relative;
	width:100%;
	height:8px;
	border:2px solid #ffffff;
	border-radius:6px;
	background: rgb(38,255,0);
    background: linear-gradient(90deg, rgba(38,255,0,1) 0%, rgba(255,220,0,1) 13%, rgba(255,160,0,1) 40%, rgba(255,0,0,1) 70%, rgba(121,24,24,1) 96%);
}
div.sev-bar-dot {
	position:absolute;
	width:8px;
	height:8px;
	top:-4px;
	padding:0;
	margin:0;
	border:4px solid #FFFFFF;
	border-radius:50%;
	box-shadow: 1px 1px 3px rgb(0 0 0 / 0.5);
	z-index: 801;
}
.severity-text {
	font-size:18px;
	line-height: 1.25em;
	font-weight: normal;
	margin:20px 0 10px;
	text-align: center;
}
.perf-effect-text {
	font-size:40px;
	line-height: 1em;
	font-weight: bold;
	margin:0 0 40px 0;
	text-align: center;
}
.perf-effect-text span {
	font-size:18px;
	color:#333333;
}
.sev-bar-top {
	display:inline-block;
	position:relative;
	width:50%;
	height:20px;
	border:4px solid #ffffff;
	border-radius:14px;
	background: rgb(38,255,0);
    background: linear-gradient(90deg, rgba(38,255,0,1) 0%, rgba(255,220,0,1) 13%, rgba(255,160,0,1) 40%, rgba(255,0,0,1) 70%, rgba(121,24,24,1) 96%);
}
div.sev-bar-dot-top {
	position:absolute;
	width:16px;
	height:16px;
	padding:0;
	margin:2px;
	background-color:#ffffff;
	border-radius:50%;
	box-shadow: 1px 1px 3px rgb(0 0 0 / 0.5);
	z-index: 801;
}
a.btn-top-info {
	display:flex;
	align-items:center;
	height:24px;
	line-height: 24px;
	background-color:#047F92;
	color:#ffffff;
	font-weight:bold;
	padding:0 10px;
	border-radius:12px;
	transition:all ease 0.3s;
	cursor:pointer;
	font-size:12px;
}
a.btn-top-info:hover {
	background-color:#06AFC9;
}
a.btn-top-info span {
	font-size:18px;
	margin-right:5px;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	cursor: pointer;
	display:flex;
	justify-content: space-between;
	align-items: center;
	background-color: #06AFC9;
    min-height: 40px;
    padding: 0 10px;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
	width:100%;
	border:none;
	transition: all ease 0.3s;
}
.accordion:hover {
	background-color:#033C45;
}
.panel {
	padding: 0px;
	max-height: 0;
	overflow: hidden;
	transition: all 0.5s ease-out;
	margin-bottom:4px;
}
.risk-ico-po {
	font-size:36px;
	color:#009245;
}
.risk-ico-ng {
	font-size:36px;
	color:#C1272D;
}
.larger-font {
	font-size: larger;
	font-weight: bold;
}
@media only screen and (max-width: 540px) {
	.larger-font {
		font-size: 12px;
	}
}
.overall-score-box {
	display:flex;
	flex-direction:column;
	padding:20px;
	background-color: #cccccc;
	position:relative;
}
.overall-score {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}
.overall-score-item {
	display:flex;
	position:relative;
	flex-direction:column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	border-radius:10px;
	padding:10px 15px;
	width:calc(20%- 30px);
	background-color: transparent;
	cursor: default;
	transition:all ease 0.3s;
}
@media only screen and (max-width: 540px) {
	.overall-score-box {
		padding:10px;
	}
	.overall-score-item {
		padding:15px 5px;
		width:calc(20%- 10px);
	}
}
.overall-score-item:hover {
	transform: scale(120%);
	background-color: #ffffff;
}
.overall-score-item h4 {
	margin:0 0 10px 0;
}
.improvement-box, .donut-box {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}
/*trend bullet*/
.improvement-item {
	display:flex;
	position:relative;
	flex-direction:column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	border-radius:10px;
	padding:5px;
	width:calc(25%- 10px);
	background-color: transparent;
	cursor: default;
	transition:all ease 0.3s;
}
.improvement-item:hover {
	transform: scale(120%);
	background-color: #ffffff;
}
.improvement-item h4 {
	margin:0 0 5px 0;
	font-weight: normal;
}
.trend-bullet-po, .trend-bullet-neg, .trend-bullet-even {
	width:24px;
	height:24px;
	border-radius:50%;
	color:#ffffff;
	font-size:24px;
	text-align: center;
	line-height: 24px;
}
.trend-bullet-po {
	background-color:#56A07E;
	transform: rotate(-45deg);
}
.trend-bullet-neg {
	background-color:#C15357;
	transform: rotate(45deg);
}
.trend-bullet-even {
	background-color:#999999;
}
@media only screen and (max-width: 920px) {
	.improvement-item {
		padding:4px;
		width:calc(25%- 8px);
	}
	.trend-bullet-po, .trend-bullet-neg, .trend-bullet-even {
		width:18px;
		height:18px;
		font-size:18px;
		line-height: 18px;
	}
}
@media only screen and (max-width: 540px) {
	.improvement-item {
		padding:5px 10px;
		width:calc(25%- 20px);
	}
	.trend-bullet-po, .trend-bullet-neg, .trend-bullet-even {
		width:30px;
		height:30px;
		font-size:30px;
		line-height: 30px;
	}
}
/* small donut */
.donut-item {
	display:flex;
	position:relative;
	flex-direction:column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	border-radius:10px;
	padding:5px;
	width:calc(20%- 10px);
	background-color: transparent;
	cursor: default;
	transition:all ease 0.3s;
}
.donut-item:hover {
	transform: scale(120%);
	background-color: #ffffff;
}
.donut-item h4 {
	margin:0 0 5px 0;
	font-weight: normal;
}
/* issue drop menu */
.issue-menu {
	display:flex;
	position:relative;
	flex-direction:row;
	align-items: center;
	justify-content: space-between;
	margin:14px 0;
	z-index:100;
}
.issue-menu > .open-btn, .issue-menu > .close-btn {
	display:inline-block;
	width:32px;
	height:32px;
	text-align: center;
	border-radius:0 6px 6px 0;
	font-size:20px;
	line-height:32px;
	text-decoration:none;
	transition: all 0.3s ease;
	cursor:pointer;
}
.issue-menu > .open-btn {
	background-color: #FFFFFF;
	color: #047F92;
}
.issue-menu > .open-btn:hover {
	background-color: #06AFC9;
	color: #FFFFFF;
}
.issue-menu > .close-btn {
	background-color: #033C45;
	color: #FFFFFF;
	transform: scaleY(-1);
}
.issue-menu > .close-btn:hover {
	background-color: #033C45;
	color: #06AFC9;
}
.issue-menu > .default-item {
	display:inline-block;
	height:32px;
	width:280px;
	padding:0 10px;
	background-color: #cccccc;
	color:#333333;
	font-size: 12px;
	line-height: 32px;
	font-weight: bold;
}
.issue-menu > .default-item > span {
	position: relative;
	font-size: 24px;
	vertical-align: middle;
	margin-right:5px;
}
#issue-menu-toggle {
	display: none;
}
#issue-menu-dropdown {
	position:absolute;
	top:32px;
	right:32px;
	background-color: #cccccc;
	min-width:300px;
	overflow: hidden;
	max-height: 0;
	padding: 0;
	margin: 0 auto;
	border-radius: 0 0 16px 16px;
	transition: all 0.3s ease;
}
#issue-menu-dropdown > li.issue-list:nth-child(even) {
	background-color: #cccccc;
}
#issue-menu-dropdown > li.issue-list > a  {
	display:flex;
	flex-direction: row;
	justify-content:space-between;
	align-items: center;
	padding:10px 20px;
	width:calc(100% - 40px);
	color:#333333;
	font-size:12px;
	text-decoration:none;
	border-top:1px dotted #eeeeee;
	transition: all 0.3s ease;
}
#issue-menu-dropdown > li.issue-list:last-child {
	margin-bottom:10px;
}
#issue-menu-dropdown > li.issue-list > a:hover  {
	color:#05AFC9;
}
#issue-menu-toggle:checked + #issue-menu-dropdown {
	max-height: 75vh;
}